<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

 <div class="pcoded-content">
        <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Treatment Record</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Treatment Record</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page header end -->
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add Treatment Record</h5>
                                    <div class="card-header-right">
                                            <i class="icofont icofont-rounded-down"></i>
                                            <i class="icofont icofont-refresh"></i>
                                            <i class="icofont icofont-close-circled"></i>
                                        </div>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-12 mobile-inputs">
                                            <form method="POST">
                                                <!-- <div class="form-group">
                                                    <input type="text" class="form-control form-txt-primary" placeholder=".form-txt-primary">
                                                </div> -->
                                                <div class="form-group">
                                                        <label for="">Patient Name</label>
                                                        <select name="patient" class="form-control js-example-basic-single">
                                                            <option selected disabled>Select</option>
                                                            <% users.forEach((user)=>{ %>
                                                                <% if(user.role == 8){ %>
                                                                    <option value="<%= user._id %>"><%= user.firstname %> <%= user.lastname %></option>
                                                                <% } %>
                                                            <% }) %>
                                                        </select><br><br>
                                                    <!-- <div class="col-sm-12"> -->
                                                        <label for="">Drugs</label>
                                                        <select name="drug" class="form-control js-example-basic-single">
                                                            <option selected disabled>Select</option>
                                                            <% drugs.forEach((drug)=>{ %>
                                                                    <option value="<%= drug._id %>"><%= drug.generic %> </option>
                                                            <% }) %>
                                                        </select><br><br>
                                                        <label for="">Route</label>
                                                        <select name="route" class="form-control js-example-basic-single">
                                                            <option selected disabled>Select</option>
                                                                    <option>Oral</option>
                                                                    <option>IV</option>
                                                                    <option>IM</option>
                                                                    <option>SC</option>
                                                                    <option>SL.ID</option>
                                                                    <option>PR</option>
                                                                    <option>OCC</option>
                                                                    <option>GUTT</option>
                                                                    <option>TOPICAL</option>
                                                        </select><br><br>
                                                        <label for="">Dosage</label>
                                                        <input type="text" name="dosage" class="form-control" placeholder="Dosage"><br>
                                                    <!-- </div> -->
                                                    <!-- <div class="col-sm-12"> -->
                                                        <label for="">Comments </label>
                                                        <textarea name="description" class="form-control" cols="30" rows="10"></textarea>
                                                        
                                                    <!-- </div> -->
                                                        <!-- <label for="">Brand Name</label>
                                                        <input type="text" name="brand" class="form-control" placeholder="Brand Name"><br>
                                                        <label for="">Drug Name</label>
                                                        <input type="text" name="name" class="form-control" placeholder="Drug Name"><br>
                                                        <label for="">Price</label>
                                                        <input type="number" name="price" class="form-control" placeholder="Price"> -->
                                                </div>
                                                <button type="submit" class="btn btn-info float-right">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Basic Form Inputs card end -->
                        </div>
                        <div class="col-sm-12">
                                <!-- Zero config.table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Treatment Records</h5>
                                        <div class="card-header-right">
                                            <i class="icofont icofont-rounded-down"></i>
                                            <i class="icofont icofont-refresh"></i>
                                            <i class="icofont icofont-close-circled"></i>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="simpletable" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>Patient</th>
                                                        <th>Drug</th>
                                                        <th>Route</th>
                                                        <th>Dosage</th>
                                                        <th>Comments</th>
                                                        <th>Nurse</th>
                                                        <th>Date</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(treatments.length > 0){ %>
                                                    <% treatments.forEach((treatment)=>{ %>
                                                    <tr>
                                                        <td></td>
                                                        <td> <%= treatment.patient.firstname %> <%= treatment.patient.lastname %></td>
                                                        <td><%= treatment.drugs.generic %></td>
                                                        <td><%= treatment.route %></td>
                                                        <td><%= treatment.dosage %></td>
                                                        <td><%= treatment.description %></td>
                                                       <td><%= treatment.creator.firstname %> <%= treatment.creator.lastname %></td>
                                                      
                                                        <td> <%= treatment.created.toDateString() %></td>
                                                        
                                                    </tr>
                                                    <% }) %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <!-- <div id="styleSelector">

        </div> -->
    </div>
</div>

<% include ../../partials/footerCopy %>