<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- Flash message -->
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                    </div>
            <% } %>

            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Page header start -->
                    <div class="page-header">
                        <div class="page-header-title">
                            <h4>Immunization</h4>
                            
                        </div>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/dashboard">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/immunizations">Immunization</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">Create Immunization</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Page header end -->
                    <!-- Page body start -->
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Basic Form Inputs card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Add Immunization</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12 mobile-inputs">
                                                <form method="POST">
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Mother Name</label>
                                                            <select name="patient" class="form-control js-example-basic-single" >
                                                                <option selected disabled>Select</option>
                                                                <% users.forEach((user)=>{ %>
                                                                    <% if(user.role == 8){ %>
                                                                     <option value="<%= user._id %>"><%= user.firstname %> <%= user.lastname %></option>
                                                                    <% } %>
                                                                <% }) %>
                                                            </select><br><br>
                                                        </div>
                                                    
                                                        <div class="col-sm-6">
                                                            <label>Name of Baby </label>
                                                            <input class="form-control" type="text" name="name">     
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label>Birth Weight </label>
                                                                    <input class="form-control" type="text" name="birthweight">  
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label>Date of Birth </label>
                                                                   <input type="date" name="dateofbirth" class="form-control">
                                                            </div>
                                                            
                                                            
                                                        </div>
                                                   
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                                <label>Place of Birth </label>
                                                                <input name="placeofbirth" class="form-control" type="text" required>
                                                        </div>
                                                        <div class="col-sm-6">
                                                                <label>At Birth </label>
                                                                <select name="atBirth" class="form-control select" required>
                                                                        <option selected disabled>Select</option>
                                                                        <option>BCG</option>
                                                                        <option>HBV 0</option>
                                                                        <option>OPV 0</option>
                                                                        <option>Vit A mum</option>
                                                                    </select>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                    <div class="form-group row">
                                                            
                                                            <div class="col-sm-6">
                                                                <label>At 6weeks</label>
                                                                <select name="at6weeks" class="form-control select" required>
                                                                        <option selected disabled>Select</option>
                                                                        <option>Penta 1</option>
                                                                        <option>PCV 1</option>
                                                                        <option>OPV 1</option>
                                                                        <option>Rota 1</option>
                                                                    </select>
                                                                
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label>At 10weeks </label>
                                                                    <select name="at10weeks" class="form-control select" required>
                                                                            <option selected disabled>Select</option>
                                                                            <option>Penta 2</option>
                                                                            <option>PCV 2</option>
                                                                            <option>OPV 2</option>
                                                                            <option>Rota 2</option>
                                                                        </select>
                                                            </div>
                                                            
                                                            
                                                        
                                                    </div>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label>At 14weeks </label>
                                                                        <select name="at14weeks" class="form-control select" required>
                                                                                <option selected disabled>Select</option>
                                                                                <option>Penta 3</option>
                                                                                <option>PCV 3</option>
                                                                                <option>OPV 3</option>
                                                                                <option>Rota 3</option>
                                                                            </select>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label>At 6months </label>
                                                                    <select name="at6months" class="form-control select" required>
                                                                            <option selected disabled>Select</option>
                                                                            <option>Vitamin A</option>
                                                                            <option>Albendazole </option>
                                                                    </select>
                                                            </div>

                                                    </div>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label>At 9months </label>
                                                                    <select name="at9months" class="form-control select" required>
                                                                            <option selected disabled>Select</option>
                                                                            <option>Measles</option>
                                                                            <option>Yellow Fever </option>
                                                                    </select>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label>At 1year </label>
                                                                    <select name="at1year" class="form-control select" required>
                                                                            <option selected disabled>Select</option>
                                                                            <option>Vitamin A</option>
                                                                            <option>Albendazole </option>
                                                                            <option>MMR 1 </option>
                                                                    </select>
                                                            </div>
                                                            
                                                            
                                                    </div>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                <label>At 15months </label>
                                                                <select name="at15months" class="form-control select" required>
                                                                        <option selected disabled>Select</option>
                                                                        <option>MMR 2 </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label>At 2years </label>
                                                                    <select name="at2years" class="form-control select" required>
                                                                            <option selected disabled>Select</option>
                                                                            <option>CSM</option>
                                                                            <option>Typhoid Vaccine </option>
                                                                            
                                                                    </select>
                                                            </div>

                                                    </div>
                                                    
                                                  
                                                    <button type="submit" class="btn btn-info float-right">Save</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Basic Form Inputs card end -->
                            </div>
                        </div>
                    </div>
                    <!-- Page body end -->
                </div>
            </div>
            <!-- Main-body end -->
            <!-- <div id="styleSelector">

            </div> -->
        </div>
    </div>

<% include ../../partials/footerCopy %>