<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- Flash message -->
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                    </div>
            <% } %>

            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Page header start -->
                    <div class="page-header">
                        <div class="page-header-title">
                            <h4>Create Patient Account</h4>
                            
                        </div>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/dashboard">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/patients">Patients</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">Create Patient</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Page header end -->
                    <!-- Page body start -->
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Basic Form Inputs card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Create Patient</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12 mobile-inputs">
                                                <form method="POST" enctype="multipart/form-data">
                                                    <!-- <div class="form-group">
                                                        <input type="text" class="form-control form-txt-primary" placeholder=".form-txt-primary">
                                                    </div> -->
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">First Name <span class="text-danger">*</span> </label>
                                                            <input type="text" name="fname" class="form-control" placeholder="First Name" required>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Last Name<span class="text-danger">*</span></label>
                                                            <input type="text" name="lname" class="form-control" placeholder="Last Name" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Patient ID<span class="text-danger">*</span></label>
                                                            <input style="font-weight: 700" type="text" class="form-control" placeholder="DOCH/00000<%= counter %>" readonly>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Old Patient ID</label>
                                                            <input type="text" name="oldpatientID" class="form-control" placeholder="Old Patient ID">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Email Address</label>
                                                            <input type="email" name="email" class="form-control" placeholder="Email">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Religion<span class="text-danger">*</span></label>
                                                            <select name="religion" class="form-control" required>
                                                                <option selected disabled>Select</option>
                                                                <option>Christianity</option>
                                                                <option>Islam</option>
                                                                <option>Traditional</option>
                                                                <option>Other</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Date of Birth<span class="text-danger">*</span></label>
                                                            <input type="date" name="birthday" class="form-control userbirtday" placeholder="Date of Birth" required>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Phone Number<span class="text-danger">*</span></label>
                                                            <input type="text" name="phone" class="form-control" placeholder="Phone Number" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                <label for="">Country<span class="text-danger">*</span></label>
                                                                <select name="country" id="nationality" class="form-control select country" required>
                                                                    <option selected disabled>Select</option>
                                                                    <option value="nig" data-available-with="">Nigeria</option>
                                                                    <option value="Foreigner">Foreigner</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="foreign">
                                                                    <label for="">Country</label>
                                                                    <input type="text" class="form-control" name="thestate">
                                                                </div>
                                                                <div class="nigeria">
                                                                    <label for="">State<span class="text-danger">*</span></label>
                                                                    <% include ../../partials/state2 %>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <div>
                                                                <label for="">Local Government<span class="text-danger">*</span></label>
                                                                <% include ../../partials/lga2 %>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Home Address<span class="text-danger">*</span></label>
                                                            <input type="text" name="address" class="form-control" placeholder="Address" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Marital Status<span class="text-danger">*</span></label>
                                                            <select name="mstatus" class="form-control" required>
                                                                <option selected disabled>Select</option>
                                                                <option>Married</option>
                                                                <option>Single</option>
                                                                <option>Divorced</option>
                                                                <option>Widowed</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6">
                                                                <label for="">Gender<span class="text-danger">*</span></label><br><br>
                                                                <!-- <div class="radio radio-inline"> -->
                                                                    <label>
                                                                        <input type="radio" name="gender" value="Female" checked="checked" required>
                                                                        <i class="helper"></i>Female
                                                                    </label>
                                                                <!-- </div> -->
                                                                <!-- <div class="radio radio-inline"> -->
                                                                    <label>
                                                                        <input type="radio" name="gender" value="Male" required>
                                                                        <i class="helper"></i>Male
                                                                    </label>
                                                                <!-- </div> -->
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h5 style="color:dodgerblue" class="page-title">Next of Kin Information</h5><br><br>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Next of Kin Name<span class="text-danger">*</span></label>
                                                            <input type="text" name="nextofkinname" class="form-control" placeholder="Next of Kin Name" required>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Next of Kin Phone Number<span class="text-danger">*</span></label>
                                                            <input type="number" name="nextofkinphone" class="form-control" placeholder="Next of Kin Phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Relationship<span class="text-danger">*</span></label>
                                                            <select name="relationship" class="form-control" required>
                                                                <option selected disabled>Select</option>
                                                                <option>Husband</option>
                                                                <option>Wife</option>
                                                                <option>Father</option>
                                                                <option>Mother</option>
                                                                <option>Son</option>
                                                                <option>Daughter</option>
                                                                <option>Brother</option>
                                                                <option>Sister</option>
                                                                <option>Uncle</option>
                                                                <option>Aunt</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Next of Kin Address<span class="text-danger">*</span></label>
                                                            <input type="text" name="nextofkinaddress" class="form-control" placeholder="Next of Kin Address" required>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h5 style="color:dodgerblue" class="page-title">Card Type</h5><br><br>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                <label for="">Card Type<span class="text-danger">*</span></label>
                                                                <select id="cardtype" name="type" class="form-control" required>
                                                                    <option selected disabled>Select</option>
                                                                    <option value="Single">Single</option>
                                                                    <option value="Family">Family</option>
                                                                </select>
                                                            </div>
                                                            <div id="num" class="col-sm-6">
                                                                <label for="">Number of Family</label>
                                                                <input type="number" id="numboffamily" name="numberoffamily" class="form-control" placeholder="Number of Family">
                                                            </div>
                                                        </div>
                                                        <div id="example-1" class="content" data-mfield-options='{"section": ".group","btnAdd":"#btnAdd","btnRemove":".btnRemove"}'>
                                                            <div >
                                                                <button type="button" id="btnAdd" class="btn btn-primary">Add</button>
                                                            </div><br>
                                                            <div class="form-group row group">
                                                                    <div class="col-sm-6">
                                                                        <label for="">Name</label>
                                                                        <input type="text" name="family1" class="form-control" placeholder="Dependant Name">
                                                                    </div>
                                                                    <div class="col-sm-5">
                                                                        <label for="">Date of Birth</label>
                                                                        <input type="date" name="familydate2" class="form-control">
                                                                    </div>
                                                                    <div class="col-sm-1">
                                                                        <button style="margin-top: 32px" type="button" class="btn btn-danger btnRemove">Remove</button>
                                                                    </div>
                                                            </div>
                                                            
                                                        </div>
                                                    <hr>
                                                    <h5 style="color:dodgerblue" class="page-title">Retainership</h5><br><br>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label>Retainership/Insurance</label>
                                                            <select id="retain" name="retainership" class="form-control" required>
                                                                <option selected disabled>Select</option>
                                                                <option>Yes</option>
                                                                <option>No</option>
                                                            </select>
                                                        </div>
                                                        <div id="retainershipname" class="col-sm-6">
                                                            <label>Retainership Name</label>
                                                            <select id="hmos" name="retainershipname" class="form-control retainershipname js-example-basic-single" onchange="gethmo()">
                                                                <option selected disabled>Select</option>
                                                                <% hmos.forEach((hmo)=>{ %>
                                                                  <option value="<%= hmo._id %>"><%= hmo.hmoname %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                            <div id="hmoname" class="col-sm-6">
                                                                <label>Enrollees</label>
                                                                <select id="mySelect" name="hmoname" class="form-control js-example-basic-single hmoname" onchange="openPatientId()">
                                                                    <option>Select</option>
                                                                   
                                                                </select>
                                                                
                                                            </div>
                                                            <div id="patientId" class="col-sm-6">
                                                                <label for="">Enrollee ID</label>
                                                                <input type="text" class="form-control hmocode" name="patientcode" placeholder="Enrollee ID">
                                                            </div>
                                                    </div>
                                                    <h5 id="dependants" style="color:dodgerblue" class="page-title">Dependants</h5><br><br>
                                                    <div id="example-2" class="depend" data-mfield-options='{"section": ".group","btnAdd":"#btnAdd","btnRemove":".btnRemove"}'>
                                                        <div >
                                                            <button type="button" id="btnAdd" class="btn btn-primary">Add</button>
                                                        </div><br>
                                                        <div class="form-group row group">
                                                                <div class="col-sm-6">
                                                                    <label for="">Name</label>
                                                                    <input type="text" name="dependantname" class="form-control dependanname" placeholder="Dependant Name">
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <label for="">Date of Birth</label>
                                                                    <input type="date" name="dependantdate" class="form-control dependandate">
                                                                </div>
                                                                
                                                                <div class="col-sm-1">
                                                                    <button style="margin-top: 32px" type="button" class="btn btn-danger btnRemove">Remove</button>
                                                                </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="depend form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Picture</label><br>
                                                            <small style="color: red;">Please choose multiple pictures if applicable</small>
                                                            <input type="file" name="file" class="form-control dependanfile file-size" multiple>
                                                        </div>
                                                    </div>
                                                       
                                                    <!-- <a id="btn-subtract" style="color: aliceblue" class="btn btn-danger remove-more-btn">Remove</a> -->
                                                    <hr>
                                                    <div class="reg-payment">
                                                        <h5 style="color:dodgerblue" class="page-title">Payments</h5><br><br>
                                                        <h6>Registration Fee</h6>
                                                        <div class="form-radio">
                                                                <div class="radio radiofill radio-inline regadult">
                                                                    <label>
                                                                        <input id="registration1" type="radio" name="registration" value="1500">
                                                                        <i class="helper"></i> Adult (&#8358;<span id="regis1">1500</span>)
                                                                    </label>
                                                                </div>
                                                                <div class="radio radiofill radio-inline regchildren">
                                                                    <label>
                                                                        <input id="registration2" type="radio" name="registration" value="1000">
                                                                        <i class="helper"></i> Children (&#8358;<span id="regis2">1000</span>)
                                                                    </label>
                                                                </div>
                                                                <div class="radio radiofill radio-inline">
                                                                        <label>
                                                                            <input id="registration2" type="radio" name="registration" value="5000">
                                                                            <i class="helper"></i> Family (&#8358;<span id="regis2">5000</span>)
                                                                        </label>
                                                                    </div>
                                                        </div><br>
                                                        <h6>Consultation Fee</h6>
                                                        <div class="form-radio">
                                                            <div class="radio radiofill radio-inline consultadult">
                                                                <label>
                                                                    <input id="consultation1" type="radio" name="consultation" value="3200">
                                                                    <i class="helper"></i> Adult (&#8358;<span id="consult1">3200</span>)
                                                                </label>
                                                            </div>
                                                            <div class="radio radiofill radio-inline consultchildren">
                                                                <label>
                                                                    <input id="consultation2" type="radio" name="consultation" value="2200">
                                                                    <i class="helper"></i> Children (&#8358;<span id="consult2">2200</span>)
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-info float-right">Create Patient</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Basic Form Inputs card end -->
                            </div>
                        </div>
                    </div>
                    <!-- Page body end -->
                </div>
            </div>
            <!-- Main-body end -->
            <!-- <div id="styleSelector">

            </div> -->
        </div>
    </div>

<% include ../../partials/footerCopy %>