<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Antenatal Info for <%= user.firstname %> <%= user.lastname %></h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Antenatal</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                            <div class="row">
                                <%  if(anc.presentpregnancy.length > 0){ %>
                                    <div class="col-sm-6">
                                            <!-- Zero config.table start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>PRESENT PREGNANCY</h5>
                                                    <div class="card-header-right">
                                                        <i class="icofont icofont-rounded-down"></i>
                                                        <i class="icofont icofont-refresh"></i>
                                                        <i class="icofont icofont-close-circled"></i>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="dt-responsive table-responsive">
                                                        <form method="post">
                                                        <table class="table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th>S/N</th>
                                                                    <th>Test</th>
                                                                    <th>Result</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Date</td>  
                                                                    <td colspan="5"><input type="date" placeholder="<%= anc.presentpregnancy[0].thedate %>" name="thedate" class="form-control"></td>  
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Weight</td>  
                                                                    <td colspan="5"><input type="number" step="any" placeholder="<%= anc.presentpregnancy[0].weight %>" name="weight" class="form-control"></td>  
                                                                </tr>
                                                                <tr>
                                                                        <th></th>  
                                                                        <th>Urinalysis</th>  
                                                                         
                                                                        <td>
                                                                            <label for="">P</label>
                                                                            <select name="urinalysisProtein" class="form-control">
                                                                                <option value="Nil" <%= anc.presemtpregnancy[0].urinalysisProtein ? 'selected' : '' %>>Nil</option>
                                                                                <option value="+ve" <%= anc.presemtpregnancy[0].urinalysisProtein ? 'selected' : '' %>>+ve</option>
                                                                                <option value="-ve" <%= anc.presemtpregnancy[0].urinalysisProtein ? 'selected' : '' %>>-ve</option>
                                                                                
                                                                            </select>
                                                                        </td>  
                                                                        <td>
                                                                            <label for="">G</label>
                                                                            <select name="urinalysisGlucose" class="form-control">
                                                                                <option value="Nil" <%= anc.presemtpregnancy[0].urinalysisGlucose ? 'selected' : '' %>>Nil</option>
                                                                                <option value="+ve" <%= anc.presemtpregnancy[0].urinalysisGlucose ? 'selected' : '' %>>+ve</option>
                                                                                <option value="-ve" <%= anc.presemtpregnancy[0].urinalysisGlucose ? 'selected' : '' %>>-ve</option>
                                                                            </select>
                                                                        </td>  
                                                                
                                                                    </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>B.P</td>  
                                                                    <td colspan="5"><input type="text" placeholder="<%= anc.presentpregnancy[0].bp %>" name="bp" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Pallor</td>  
                                                                    <td colspan="5"><input type="text" placeholder="<%= anc.presentpregnancy[0].pallor %>" name="pallor" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>G.A</td>  
                                                                    <td colspan="5"><input type="text" placeholder="<%= anc.presentpregnancy[0].maturity %>" name="maturity" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Fundal Height</td>  
                                                                    <td colspan="5"><input type="text" placeholder="<%= anc.presentpregnancy[0].fundalheight %>" name="fundalheight" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Presentation</td>  
                                                                    <td colspan="5"><input type="text" placeholder="<%= anc.presentpregnancy[0].presentation %>" name="presentation" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Fetal Heart Rate</td>  
                                                                    <td colspan="5"><input type="text" placeholder="<%= anc.presentpregnancy[0].fetalheartrate %>" name="fetalheartrate" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Oedema</td>  
                                                                    <td colspan="5"><input type="text" placeholder="<%= anc.presentpregnancy[0].oedema %>" name="oedema" class="form-control"></td>  
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Comments</td>  
                                                                    <td colspan="5"><input type="text" placeholder="<%= anc.presentpregnancy[0].comments %>" name="comments" class="form-control"></td>  
                                                                        
                                                                </tr>
                                                                <tr>
                                                                        <td></td>  
                                                                        <td>TCA Date</td>  
                                                                        <td colspan="5"><input type="date" placeholder="<%= anc.presentpregnancy[0].tcadate %>" name="tcadate" class="form-control"></td>  
                                                                            
                                                                    </tr>
                                                                    <tr>
                                                                            <td></td>  
                                                                            <td>Initial</td>  
                                                                            <td colspan="5"><input type="text" placeholder="<%= anc.presentpregnancy[0].initial %>" name="initial" class="form-control"></td>  
                                                                                
                                                                        </tr>
                                                                <tr>
                                                                    <button type="submit" class="btn btn-success float-right mb-3">Save</button>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                <% }else{ %>
                                    <div class="col-sm-6">
                                            <!-- Zero config.table start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>PRESENT PREGNANCY</h5>
                                                    <div class="card-header-right">
                                                        <i class="icofont icofont-rounded-down"></i>
                                                        <i class="icofont icofont-refresh"></i>
                                                        <i class="icofont icofont-close-circled"></i>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="dt-responsive table-responsive">
                                                        <form method="post">
                                                        <table class="table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th>S/N</th>
                                                                    <th>Test</th>
                                                                    <th>Result</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Date</td>  
                                                                    <td colspan="5"><input type="date" name="thedate" class="form-control"></td>  
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Weight</td>  
                                                                    <td colspan="5"><input type="number" step="any" name="weight" class="form-control"></td>  
                                                                </tr>
                                                                <tr>
                                                                    <th></th>  
                                                                    <th>Urinalysis</th>  
                                                                     
                                                                    <td>
                                                                        <label for="">P</label>
                                                                        <select name="urinalysisProtein" class="form-control">
                                                                            <option>Nil</option>
                                                                            <option>+ve</option>
                                                                            <option>-ve</option>
                                                                        </select>
                                                                    </td>  
                                                                    <td>
                                                                        <label for="">G</label>
                                                                        <select name="urinalysisGlucose" class="form-control">
                                                                            <option>Nil</option>
                                                                            <option>+ve</option>
                                                                            <option>-ve</option>
                                                                        </select>
                                                                    </td>  
                                                            
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>B.P</td>  
                                                                    <td colspan="5"><input type="text" name="bp" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Pallor</td>  
                                                                    <td colspan="5"><input type="text" name="pallor" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>G.A</td>  
                                                                    <td colspan="5"><input type="text" name="maturity" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Fundal Height</td>  
                                                                    <td colspan="5"><input type="text" name="fundalheight" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Presentation</td>  
                                                                    <td colspan="5"><input type="text" name="presentation" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Fetal Heart Rate</td>  
                                                                    <td colspan="5"><input type="text" name="fetalheartrate" class="form-control"></td>  
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Oedema</td>  
                                                                    <td colspan="5"><input type="text" name="oedema" class="form-control"></td>  
                                                                </tr>
                                                                <tr>
                                                                    <td></td>  
                                                                    <td>Comments</td>  
                                                                    <td colspan="5"><input type="text" name="comments" class="form-control"></td>  
                                                                        
                                                                </tr>
                                                                <tr>
                                                                        <td></td>  
                                                                        <td>TCA Date</td>  
                                                                        <td colspan="5"><input type="date" name="tcadate" class="form-control"></td>  
                                                                            
                                                                    </tr>
                                                                    <tr>
                                                                            <td></td>  
                                                                            <td>Initial</td>  
                                                                            <td colspan="5"><input type="text" name="initial" class="form-control"></td>  
                                                                                
                                                                        </tr>
                                                                <tr>
                                                                    <button type="submit" class="btn btn-success float-right mb-3">Save</button>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                <% } %>

                                <%  if(anc.clinicalnotes.length > 0){ %>
                                    <div class="col-sm-6">
                                                <!-- Zero config.table start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>CLINICAL NOTES</h5>
                                                        <div class="card-header-right">
                                                            <i class="icofont icofont-rounded-down"></i>
                                                            <i class="icofont icofont-refresh"></i>
                                                            <i class="icofont icofont-close-circled"></i>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="dt-responsive table-responsive">
                                                            <form action="/clinical-notes/<%= user._id %>" method="post">
                                                            <table class="table table-striped table-bordered nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Clinical Notes</th>
                                                                        
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th></th>  
                                                                        
                                                                        <td><textarea placeholder="<%= anc.clinicalnotes[0].clinicalnotes %>" name="clinicalnotes" class="form-control" id="" cols="30" rows="40"></textarea></td>  
                                                                    </tr>
                                                                    
                                                                    
                                                                    
                                                                    <tr>
                                                                        <button type="submit" class="btn btn-success float-right mb-3">Save</button>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                <% }else{ %>
                                    <div class="col-sm-6">
                                            <!-- Zero config.table start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>CLINICAL NOTES</h5>
                                                    <div class="card-header-right">
                                                        <i class="icofont icofont-rounded-down"></i>
                                                        <i class="icofont icofont-refresh"></i>
                                                        <i class="icofont icofont-close-circled"></i>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="dt-responsive table-responsive">
                                                        <form action="/clinical-notes/<%= user._id %>" method="post">
                                                        <table class="table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Clinical Notes</th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th></th>  
                                                                    
                                                                    <td><textarea name="clinicalnotes" class="form-control" id="" cols="30" rows="40"></textarea></td>  
                                                                </tr>
                                                                
                                                                
                                                                
                                                                <tr>
                                                                    <button type="submit" class="btn btn-success float-right mb-3">Save</button>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                <% } %>

                                
                                <div class="col-sm-6">
                                        <!-- Zero config.table start -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>LAB TESTS</h5>
                                                <div class="card-header-right">
                                                    <i class="icofont icofont-rounded-down"></i>
                                                    <i class="icofont icofont-refresh"></i>
                                                    <i class="icofont icofont-close-circled"></i>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                


                                                <div class="form-group">
                                                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#exampleModalCenter4">Select Test</button>
                                                </div>
    
                                                <!-- <div class="col-sm-12"> -->
                                                <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalCenterTitle">Choose Test</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="/antenatal-lab-tests/<%= user._id %>" method="POST">
                                                                        <div class="form-group row">
                                                                                <label class="col-sm-3 col-form-label">Select Lab</label>
                                                                                <div class="col-sm-6">
                                                                                    <select name="labtype" id="tests" onchange="showOptions()" class="form-control">
                                                                                        <option selected disabled>Select Lab</option>
                                                                                        <% labs.forEach((lab)=>{ %>
                                                                                            <option value="<%= lab.name %>"><%= lab.name %></option>
                                                                                        <% }) %>
                                                                                    </select>
                                                                                </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-sm-3 col-form-label">Choose</label>                                                                          
                                                                                <div class="col-sm-6">
                                                                                    <select name="labtest" class="form-control ">
                                                                                        <option selected disabled>Select Test </option>
                                                                                        <% alltests.forEach((test)=>{ %>
                                                                                            <option value="<%= test._id %>"><%= test.name %></option>
                                                                                        <% }) %>
                                                                                    </select>                                                                  
                                                                                </div>
                                                                        </div>
                                                                        <!-- <div class="form-group row">
                                                                            <label for="" class="col-sm-2 col-form-label">Price</label>
                                                                                <div class="col-sm-6">
                                                                                    <input type="text" class="form-control" id="drugAmount" readonly>
                                                                                </div>
                                                                        </div> -->
                                                                                                                                            
                                                                        <button class="btn btn-info float-right" type="submit">Send</button>
                                                                    </form>
                                                                </div>
                                                                                                                                
                                                            </div>
                                                        </div>
                                                </div>

                                                <div class="dt-responsive table-responsive">
                                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th>S/N</th>
                                                                    <th>Test</th>
                                                                    <th>Laboratory</th>
                                                                    <th>Created</th>
                                                                    
                                                                    
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% if(anc.labtest.length > 0){ %>
                                                                    <% anc.labtest.forEach((test)=>{ %>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td> <%= test.name %></td>
                                                                        <td> <%= test.lab.name %></td>
                                                                        <td> <%= test.created.toLocaleString() %> </td>
                                                                    </tr>
                                                                    <% }) %>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                            </div>
                                        </div>
                                </div>
                        
                                <div class="col-sm-6">
                                                        <!-- Zero config.table start -->
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>Treatment and Immunization</h5>
                                                                <div class="card-header-right">
                                                                    <i class="icofont icofont-rounded-down"></i>
                                                                    <i class="icofont icofont-refresh"></i>
                                                                    <i class="icofont icofont-close-circled"></i>
                                                                </div>
                                                            </div>
                                                            <div class="card-block">
                                                                <div class="dt-responsive table-responsive">
                                                                    <form action="/treatment-and-immunization/<%= user._id %>" method="post">
                                                                    <table class="table table-striped table-bordered nowrap">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>S/N</th>
                                                                                <th>T&I</th>
                                                                                <th>Date</th>
                                                                                <th>Next Visit</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>  
                                                                                <td>TT1</td>  
                                                                                <td><input type="date" name="tt1" class="form-control"></td>  
                                                                                <td><input type="date" name="tt1next" class="form-control"></td>  
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>  
                                                                                <td>TT2</td>  
                                                                                <td><input type="date" name="tt2" class="form-control"></td>  
                                                                                <td><input type="date" name="tt2next" class="form-control"></td>  
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>  
                                                                                <td>TT3</td>  
                                                                                <td><input type="date" name="tt3" class="form-control"></td>  
                                                                                <td><input type="date" name="tt3next" class="form-control"></td>  
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>  
                                                                                <td>TT4</td>  
                                                                                <td><input type="date" name="tt4" class="form-control"></td>  
                                                                                <td><input type="date" name="tt4next" class="form-control"></td>  
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>  
                                                                                <td>TT5</td>  
                                                                                <td><input type="date" name="tt5" class="form-control"></td>  
                                                                                <td><input type="date" name="tt5next" class="form-control"></td>  
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>  
                                                                                <td>Malaria: IPT1</td>  
                                                                                <td><input type="date" name="malariaipt1" class="form-control"></td>  
                                                                                <td><input type="date" name="malariaipt1next" class="form-control"></td>  
                                                                            </tr>
                                                                            <tr>
                                                                                    <td></td>  
                                                                                    <td>Malaria: IPT2</td>  
                                                                                    <td><input type="date" name="malariaipt2" class="form-control"></td>  
                                                                                    <td><input type="date" name="malariaipt2next" class="form-control"></td>  
                                                                                </tr>
                                                                            
                                                                            
                                                                            <tr>
                                                                                <button type="submit" class="btn btn-success float-right mb-3">Save</button>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                </div>
                        

                                <div class="col-sm-6">
                                                            <!-- Zero config.table start -->
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5>Dates Given</h5>
                                                                    <div class="card-header-right">
                                                                        <i class="icofont icofont-rounded-down"></i>
                                                                        <i class="icofont icofont-refresh"></i>
                                                                        <i class="icofont icofont-close-circled"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="card-block">
                                                                    <div class="dt-responsive table-responsive">
                                                                        <form action="/dates-given/<%= user._id %>" method="post">
                                                                        <table class="table table-striped table-bordered nowrap">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>S/N</th>
                                                                                    <th>Date Given</th>
                                                                                    <th>Date</th>
                                                                                    
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td></td>  
                                                                                    <td>Iron/Folate Supplement</td>  
                                                                                    <td><input type="date" name="ironfolate" class="form-control"></td>  
                                                                                    
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>  
                                                                                    <td>MultiVitamins</td>  
                                                                                    <td><input type="date" name="multivitamin" class="form-control"></td>  
                                                                                    
                                                                                </tr>
                                                                                
                                                                                
                                                                                
                                                                                <tr>
                                                                                    <button type="submit" class="btn btn-success float-right mb-3">Save</button>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                </div>             
                                </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>