<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- Flash message -->
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                    </div>
            <% } %>

            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Page header start -->
                    <div class="page-header">
                        <div class="page-header-title">
                            <h4>Intake and Output Chart</h4>
                            
                        </div>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/dashboard">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/triages">Triages</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">Create Triage</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Page header end -->
                    <!-- Page body start -->
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Basic Form Inputs card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5><%= user.firstname %> <%= user.lastname %> IO Chart</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12 mobile-inputs">
                                                <form method="POST">
                                                    <h5 style="color:dodgerblue" class="page-title">INTAKE</h5><br><br>
                                                    <input type="hidden" name="patient" value="<%= user._id %>">
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                                <label>Oral </label>
                                                                <input name="oral" class="form-control" type="text" required>
                                                        </div>
                                                        <div class="col-sm-6">
                                                                <label>Rectal </label>
                                                                <input name="rectal" class="form-control" type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                            
                                                            <div  class="col-sm-6">
                                                                <label>Intravenous </label>
                                                                <!-- <div class="cal-icon"> -->
                                                                    <input name="intraveneous" type="text" class="form-control" >
                                                                <!-- </div> -->
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label>Insulin </label>
                                                                    <input name="insulin" class="form-control" type="text" required>
                                                            </div>
                                                            
                                                            
                                                        
                                                    </div>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label>Total </label>
                                                                    <input name="intotal" class="form-control" type="text" required>
                                                            </div>
                                                        
                                                    </div>
                                                    <h5 style="color:dodgerblue" class="page-title">Output</h5><br><br>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label>Urine </label>
                                                                    <input name="urine" class="form-control" type="text" required>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label>Gastric Contents</label>
                                                                    <input name="gastricContents" class="form-control" type="text" required>
                                                            </div>
                                                            
                                                            
                                                    </div>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label>Fistula</label>
                                                                    <input name="fistula" class="form-control" type="text" required>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label>Total </label>
                                                                    <input name="total" class="form-control" type="text" required>
                                                            </div>

                                                    </div>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label>Notes </label>
                                                                 <textarea name="notes" class="form-control" cols="30" rows="10"></textarea>
                                                            </div>
                                                    </div>
                                                    
                                                    
                                                       
                                                        
                                                    <!-- <a href="/triages" class="ml-3 btn btn-danger float-right">Cancel</a> -->
                                                    <button type="submit" class="btn btn-info float-right">Save</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Basic Form Inputs card end -->
                            </div>
                        </div>
                    </div>
                    <!-- Page body end -->
                </div>
            </div>
            <!-- Main-body end -->
            <!-- <div id="styleSelector">

            </div> -->
        </div>
    </div>

<% include ../../partials/footerCopy %>