<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- Flash message -->
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                    </div>
            <% } %>

            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Page header start -->
                    <div class="page-header">
                        <div class="page-header-title">
                            <h4>Nurse Assessments</h4>
                            
                        </div>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/dashboard">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/patients">Nurse Assessments</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">#</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Page header end -->
                    <!-- Page body start -->
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Basic Form Inputs card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5><%= user.firstname %> <%= user.lastname %> Assessments</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12 mobile-inputs">
                                                    <div id="wizard-3">
                                                            <section>
                                                                <form class="wizard-form assessment-form" id="verticle-wizard" method="post">
                                                                    <h3> Personal Data </h3>
                                                                    <fieldset>
                                                                            <h5 style="color:dodgerblue" class="page-title">Personal Information</h5><br><br>
                                                                            <div class="form-group row">
                                                                                <div class="col-sm-6">
                                                                                        <label>First Name </label>
                                                                                        <input  class="form-control" placeholder="<%= user.firstname %>" type="text" readonly>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                        <label>Last Name</label>
                                                                                        <input  class="form-control" placeholder="<%= user.lastname %>" type="text" readonly>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <div class="col-sm-6">
                                                                                        <label>Date of Birth </label>
                                                                                        <input placeholder="<%= user.birthday.toLocaleDateString() %>" class="form-control" type="text" readonly>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                        <label>Gender </label>
                                                                                        <input placeholder="<%= user.gender %>" class="form-control" type="text" readonly>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <div class="col-sm-6">
                                                                                    <label>Phone Number </label>
                                                                                    <input type="text" class="form-control" placeholder="+234<%= user.phonenumber %>" readonly>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                        <label>Address </label>
                                                                                        <input placeholder="<%= user.address %>" class="form-control" type="text" readonly>
                                                                                </div>
                                                                            </div>
                                                                            <h5 style="color:dodgerblue" class="page-title">Next of Kin Information</h5><br><br>
                                                                            <div class="form-group row">
                                                                                <div class="col-sm-6">
                                                                                        <label>Next of Kin Name </label>
                                                                                        <input placeholder="<%= user.nextofkinname %>" class="form-control" type="text" readonly>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                        <label>Next of Kin Phone <span class="text-danger"> (m*)</span></label>
                                                                                        <input placeholder="<%= user.nextofkinphone %>"  class="form-control"type="text"  readonly>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <div class="col-sm-6">
                                                                                        <label>Relationship </label>
                                                                                        <input placeholder="<%= user.relationship %>" class="form-control" type="text" readonly>
                                                                                        
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                        <label>Next of Kin Address</label>
                                                                                        <input type="text" class="form-control" placeholder="<%= user.nextofkinaddress %>" readonly>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                    </fieldset>
                                                                    <h3> Nurse History </h3>
                                                                    <fieldset>
                                                                           
                                                                            <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Immunizations </label>
                                                                                       <select name="immunization" class="form-control" required>
                                                                                            <option selected disabled>Select</option>
                                                                                            <option>BCG</option>
                                                                                            <option>Poliomoyelities</option>
                                                                                            <option>Tetanus</option>
                                                                                            <option>Wooping Cough</option>
                                                                                            <option>Dipeteria</option>
                                                                                            <option>Measles</option>
                                                                                            <option>Otbers</option>
                                                                                           
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">LMP<span class="text-danger">*</span></label>
                                                                                        <input type="text" name="lmp" class="form-control"  required>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Present Medical History</label>
                                                                                        <textarea name="presenthistory" class="form-control" cols="30" rows="10" required></textarea>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Past Medical History</label>
                                                                                        <textarea name="pasthistory" class="form-control" cols="30" rows="10" required></textarea>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Nutrition</label>
                                                                                        <input type="text" name="nutrition" class="form-control" required>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Elimination<span class="text-danger">*</span></label>
                                                                                        <input type="text" name="elimination" class="form-control" required>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Activity/Exercise</label>
                                                                                        <input type="text" name="activity" class="form-control" required>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Sleep and Rest<span class="text-danger">*</span></label>
                                                                                        <input type="text" name="sleep" class="form-control" required>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Communication/Special Sense</label>
                                                                                        <input type="text" name="communication" class="form-control" required>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Perception of Illness<span class="text-danger">*</span></label>
                                                                                        <input type="text" name="perception" class="form-control" required>
                                                                                    </div>
                                                                                </div>

                                                                                
                                                                    </fieldset>
                                                                    <h3>Nurse History Cont</h3>
                                                                    <fieldset>
                                                                        <div class="form-group row">
                                                                            <div class="col-sm-6">
                                                                                <label for="">Family/Social Status</label>
                                                                                <input type="text" name="socialstatus" class="form-control" required>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="">Sexuality/Reproduction</label>
                                                                                <input type="text" name="sexuality" class="form-control"  required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <div class="col-sm-6">
                                                                                <label for="">Coping with Stress</label>
                                                                                <input type="text" name="copingwithstress" class="form-control" required>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="">Values and Beliefs</label>
                                                                                <input type="text" name="values" class="form-control" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <div class="col-sm-6">
                                                                                <label for="">Other Information: (Habits)</label>
                                                                                <input type="text" name="others" class="form-control" required>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="">Values brought into Hospital</label>
                                                                                <input type="text" name="valuesbrought" class="form-control" required>
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                    
                                                                    <h3> Examination </h3>
                                                                    <fieldset>
                                                                            <h5 style="color:dodgerblue" class="page-title">Physical Measurement</h5><br><br>
                                                                            <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Temperature<</label>
                                                                                        <input type="text" name="temp" class="form-control" required>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Pulse</label>
                                                                                        <input type="text" name="pulse" class="form-control"required>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Respiration</label>
                                                                                        <input type="text" name="respiration" class="form-control"required>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Blood Pressure</label>
                                                                                        <input type="text" name="bloodpressure" class="form-control" required>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Apex Beat</label>
                                                                                        <input type="text" name="apexbeat" class="form-control"required>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Height</label>
                                                                                        <input type="number" step="any" name="height" class="form-control" required>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Weight</label>
                                                                                        <input type="number" step="any" name="weight" class="form-control"required>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Urinalysis</label>
                                                                                        <input type="text" name="urinalysis" class="form-control" >
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">General Inspection (Head to Toe)</label>
                                                                                       <textarea name="general" class="form-control" cols="30" rows="10"></textarea>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <label for="">Palpitation</label>
                                                                                        <input type="text" name="palpitation" class="form-control" >
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                    </fieldset>
                                                                    <h3>Examination Cont.</h3>
                                                                    <fieldset>
                                                                        <div class="form-group row">
                                                                            <div class="col-sm-6">
                                                                                <label for="">Percussion</label>
                                                                                <input type="text" name="percussion" class="form-control" >
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="">Auscultation</label>
                                                                                <input type="text" name="auscultation" class="form-control" >
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <div class="col-sm-6">
                                                                                <label for="">Laboratory Result</label>
                                                                                <input type="text" name="labresult" class="form-control" >
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="">Nursing Diagnosis</label>
                                                                                <textarea name="nursingdiagnosis" class="form-control" cols="30" rows="10"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </fieldset>
                                                                   
                                                                    
                                                                </form>
                                                            </section>
                                                        </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Basic Form Inputs card end -->
                            </div>
                        </div>
                    </div>
                    <!-- Page body end -->
                </div>
            </div>
            <!-- Main-body end -->
            <!-- <div id="styleSelector">

            </div> -->
        </div>
    </div>

<% include ../../partials/footer %>