<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

 <div class="pcoded-content">
        <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Ward Inventory</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Ward Inventory</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page header end -->
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add  Record</h5>
                                    <div class="card-header-right">
                                            <i class="icofont icofont-rounded-down"></i>
                                            <i class="icofont icofont-refresh"></i>
                                            <i class="icofont icofont-close-circled"></i>
                                        </div>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-12 mobile-inputs">
                                            <form method="POST">
                                                <!-- <div class="form-group">
                                                    <input type="text" class="form-control form-txt-primary" placeholder=".form-txt-primary">
                                                </div> -->
                                                <div class="form-group">
                                                        <label for="">Item</label>
                                                        <input type="text" class="form-control" name="item"><br>
                                                    <!-- <div class="col-sm-12"> -->
                                                        <label for="">Approved Quantity</label>
                                                        <input type="number" class="form-control" name="quantity"><br>

                                                        <label for="">Quantity Consumed</label>
                                                        <input type="number" name="consumed" class="form-control"><br>
                                                    <!-- </div> -->
                                                        <!-- <label for="">Price</label>
                                                        <input type="number" name="price" class="form-control"><br> -->
                                                    <!-- <div class="col-sm-12"> -->
                                                        <label for="">Comments </label>
                                                        <textarea name="comments" class="form-control" cols="30" rows="10"></textarea>
                                                        
                                                    <!-- </div> -->
                                                        <!-- <label for="">Brand Name</label>
                                                        <input type="text" name="brand" class="form-control" placeholder="Brand Name"><br>
                                                        <label for="">Drug Name</label>
                                                        <input type="text" name="name" class="form-control" placeholder="Drug Name"><br>
                                                        <label for="">Price</label>
                                                        <input type="number" name="price" class="form-control" placeholder="Price"> -->
                                                </div>
                                                <button type="submit" class="btn btn-info float-right">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Basic Form Inputs card end -->
                        </div>
                        <div class="col-sm-12">
                                <!-- Zero config.table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Treatment Records</h5>
                                        <div class="card-header-right">
                                            <i class="icofont icofont-rounded-down"></i>
                                            <i class="icofont icofont-refresh"></i>
                                            <i class="icofont icofont-close-circled"></i>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="simpletable" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>Item</th>
                                                        <th>Approved Quantity</th>
                                                        <th>Quantity Consumed</th>
                                                       
                                                        <th>Comments</th>
                                                        <th>CreatedBy</th>
                                                        <th>Date</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% wardInventory.forEach((ward)=>{ %>
                                                    <tr>
                                                        <td></td>
                                                        <td> <%= ward.item %> </td>
                                                        <td><%= ward.quantity %></td>
                                                        <td><%= ward.consumed %></td>
                                                        
                                                       <td><%= ward.comments %> </td>
                                                      <td><%= ward.creator.firstname %> <%= ward.creator.lastname %> </td>
                                                        <td> <%= ward.created.toDateString() %></td>
                                                        
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <!-- <div id="styleSelector">

        </div> -->
    </div>
</div>

<% include ../../partials/footerCopy %>