<% include ../partials/header %>
<% include ../partials/sidebarCopy %>

 <!-- Center page starts -->
 <div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Dashboard</h4>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">
                        <!-- Visitor Chart Start-->
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-block-big card-visitor-block">
                                        <%
                                        const newDoctors = users.map(doctor =>{
                                          if (doctor.role === 2){
                                            const rDoctor = doctor.role === 2
                                            return rDoctor;
                                          }                    
                                        })
                                        const doctors = newDoctors.filter(v => v).length;
                                     %>
                                    <div class="row">
                                        <div class="col-sm-8  card-visitor-button">
                                            <button class="btn btn-primary btn-icon"><i class="icofont icofont-stethoscope"></i></button>
                                            <div class="card-contain">
                                                <h6><%= doctors %></h6>
                                                <p class="text-muted f-18 m-0">Doctors</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="visitor-chart"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-block-big card-visitor-block">
                                        <%
                                        const newPatients = users.map(patient =>{
                                          if (patient.role === 8){
                                            const rPatient = patient.role === 8
                                            return rPatient;
                                          }                    
                                        })
                                        const patients = newPatients.filter(v => v).length;
                                     %>
                                    <div class="row">
                                        <div class="col-sm-8 card-visitor-button">
                                            <button class="btn btn-warning btn-icon"><i class="icofont icofont-paralysis-disability"></i></button>
                                            <div class="card-contain">
                                                <h6><%= patients %></h6>
                                                <p class="text-muted f-18 m-0">Patients</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="sale-chart"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-4">
                            <div class="card">
                                <div class="card-block-big card-visitor-block">
                                    <div class="row">
                                        <div class="col-sm-8 card-visitor-button">
                                            <button class="btn btn-success btn-icon"><i class="icofont icofont-money"></i></button>
                                            <div class="card-contain">
                                                <h6><%= appointments.length %></h6>
                                                <p class="text-muted f-18 m-0">Appointments</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="resource-barchart"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Visitor Chart End-->

                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Pharmacy Requests</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">S/N</th>
                                                    <th rowspan="2">Patient ID</th>
                                                    <th rowspan="2">Name</th>
                                                    <th rowspan="2">Reason for Visit</th>
                                                    <th rowspan="2">Doctor</th>
                                                    <th rowspan="2">Status</th>
                                                    <th rowspan="2">Payment Status</th>
                                                    <th rowspan="2">Action</th>
                                                    <th colspan="9">Drugs & Prescriptions</th>
                                                    <tr>
                                                        <th>Drugs</th>
                                                        <th>Starting Date</th>
                                                        <th  >Unit Dose</th>
                                                        <th  >Frequency</th>
                                                        <th  >Duration</th>
                                                        <th  >Total to Dispense</th>
                                                        <th  >Unit Price</th>
                                                        <th>PrescribedBy</th>
                                                       
                                                        <th  >Notes</th>
                                                    </tr>
                                                </tr>
                                           
                                            </thead>
                                                <% consultations.forEach((consultation)=>{ %>
                                                    <% if(consultation.pharmacystatus === true && consultation.pharmacyfinish === false){ %>
                                                       
                                                <tr>
                                                    <td></td>
                                                    <td><%= consultation.patient.patientId %></td>
                                                    <td>
                                                         <a href="/patient/<%= consultation.patient._id %>" class="mr-2"> <%= consultation.patient.firstname %> <%= consultation.patient.lastname %></a>
                                                         <% if(consultation.patient.retainershipname){ %>
                                                            <label class="label label-md bg-success"><%= consultation.patient.retainershipname.hmoname %></label>
                                                        <% } %>
                                                    </td>
                                                    <td> <%= consultation.visit %></td>
                                                    
                                                    <td><%= consultation.doctor.firstname %> <%= consultation.doctor.lastname %></td>
                                                        
                                                    <% if(consultation.pharmacyfinish === false){ %>
                                                    <td><label class="label label-md bg-warning">Ongoing</label></td>
                                                    <% }else{ %>
                                                    <td><label class="label label-md bg-success">Finished</label></td>
                                                    <% } %>
                                                    <% if(consultation.pharmacypaid === false){ %>
                                                        <td><label class="label label-md bg-warning">Not Paid</label></td>
                                                    <% }else{ %>
                                                    <td><label class="label label-md bg-success">Paid</label></td>
                                                    <% } %>

                                                    <% if(consultation.pharmacypaid && !consultation.pharmacyfinish){ %>
                                                    <td>
                                                        <button id="<%= consultation._id %>" class="btn btn-success paid">Dispense</button>
                                                        <a target="_blank" class="btn btn-inverse" href="/pharmacy-prescription/<%= consultation.patient._id %>">Pharmacy</a>
                                                    </td>
                                                    <% }else if(!consultation.pharmacypaid && !consultation.pharmacyfinish){ %>
                                                    <td><a href="#"  class="btn btn-default ">Dispense</a>
                                                    <% }else if(consultation.pharmacypaid && consultation.pharmacyfinish){ %>
                                                   <td><button class="btn btn-success" disabled>Prescribed</button></td>
                                                    <% } %> 
                                                
                                                    <td>
                                                            <% consultation.drugsObject.forEach((drug)=>{ %>
                                                        <tr>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                              
                                                                   
                                                                    <% if(drug.drugs.name.name){ %>
                                                                        <td style="font-weight: 700; color: green"><%= drug.drugs.name.name %>   
                                                                        </td>
                                                                    <% }else{ %>
                                                                        <td style="font-weight: 700; color: green"><%= drug.drugs.name.pharmname.generic %>   
                                                                        </td>
                                                                       
                                                                    <% } %> 
                                                                    <td>
                                                                        <%= drug.startingdate.toLocaleDateString() %>
                                                                    </td>
                                                                    <td>
                                                                        <%= drug.time %>
                                                                    </td>
                                                                 
                                                                    <td>
                                                                            <%= drug.direction %>
                                                                    </td>
                                                                    <td>
                                                                            <%= drug.duration %>
                                                                    </td>
                                                                    <td>
                                                                            <%= drug.quantity %>
                                                                    </td>
                                                                    <td>
                                                                            <%= drug.price %>
                                                                    </td>
                                                                    <% if(drug.prescribedBy){ %>

                                                                        <td><%= drug.prescribedBy.firstname %> <%= drug.prescribedBy.lastname %></td>
                                                                    <%}else{ %>
                                                                       <td></td>
                                                                    <% } %>
                                                                    <td><%= drug.notes %></td>
                                                                    
                                                                    
                                                                    
                                                                    
                                                        </tr>
                                                        <% }) %>
                                                    </td>  
                                                                                
                                               
                                                </tr>
                                                <% } %>
                                                
                                                <% }) %>
                                           
                                        </table>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                                <!-- Zero config.table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Requests</h5>
                                        <div class="card-header-right">
                                            <i class="icofont icofont-rounded-down"></i>
                                            <i class="icofont icofont-refresh"></i>
                                            <i class="icofont icofont-close-circled"></i>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="dom-jqry" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>Item(s) Requested</th>
                                                        <th>Quantity</th>
                                                        <th>Unit</th>
                                                        <th>Date Requested</th>
                                                        <th>Time</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% requests.forEach((request) => { %>
                                                        <tr>
                                                            <td></td>
                                                            <td><%= request.item %></td>
                                                            <td><%= request.quantity %></td>
                                                            <td><%= request.unit %></td>
                                                            <td><%= request.createdAt.toDateString() %></td>
                                                            <td><%= request.createdAt.toLocaleTimeString()  %></td>
                                                            <td>
                                                                <% if(request.granted && !request.declined){ %>
                                                                    <label class="label label-md bg-success">Granted</label> 
                                                                <% }else if(!request.granted && request.declined){ %>
                                                                    <label class="label label-md bg-danger">Declined</label> 
                                                                <% } %>
                                                            </td>
                                                            
                                                        </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- <div id="styleSelector">

            </div> -->
        </div>
    </div>
</div>
<!-- Center page ends -->

<% include ../partials/footerCopy %>