<% include ../partials/header %>
<% include ../partials/sidebarCopy %>

 <!-- Center page starts -->
 <div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Dashboard</h4>
                    </div>
                </div>
                <div id="charts" class="page-body">
                    <div class="row">
                        <!-- Visitor Chart Start-->
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-block-big card-visitor-block">
                                        <%
                                        const newDoctors = allUsers.map(doctor =>{
                                          if (doctor.role === 2){
                                            const rDoctor = doctor.role === 2
                                            return rDoctor;
                                          }                    
                                        })
                                        const doctors = newDoctors.filter(v => v).length;
                                     %>
                                    <div class="row">
                                        <div class="col-sm-8  card-visitor-button">
                                            <button class="btn btn-primary btn-icon"><i class="icofont icofont-stethoscope"></i></button>
                                            <div class="card-contain">
                                                <h6><%= doctors %></h6>
                                                <p class="text-muted f-18 m-0">Doctors</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="visitor-chart"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-block-big card-visitor-block">
                                        <%
                                        const newPatients = allUsers.map(patient =>{
                                          if (patient.role === 8){
                                            const rPatient = patient.role === 8
                                            return rPatient;
                                          }                    
                                        })
                                        const patients = newPatients.filter(v => v).length;
                                     %>
                                    <div class="row">
                                        <div class="col-sm-8 card-visitor-button">
                                            <button class="btn btn-warning btn-icon"><i class="icofont icofont-paralysis-disability"></i></button>
                                            <div class="card-contain">
                                                <h6><%= patients %></h6>
                                                <p class="text-muted f-18 m-0">Patients</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="sale-chart"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <%
                            function getSum(total, num) {
                                return total + num;
                            }
                            const totalRevenueGenerated = payments.map(price =>{
                                const rPrice = price.amount
                                return rPrice;
                                                
                            })
                            var totalRevenue;
                            if(totalRevenueGenerated === undefined || totalRevenueGenerated.length == 0){
                                totalRevenue = 0
                            }else{
                                totalRevenue = totalRevenueGenerated.reduce(getSum)
                            }
                                                                      
                        %>
                        <div class="col-md-12 col-xl-4">
                            <div class="card">
                                <div class="card-block-big card-visitor-block">
                                    <div class="row">
                                        <div class="col-sm-8 card-visitor-button">
                                            <button class="btn btn-success btn-icon"><i class="icofont icofont-money"></i></button>
                                            <div class="card-contain">
                                                <h6>&#8358;<%= totalRevenue %></h6>
                                                <p class="text-muted f-18 m-0">Revenue</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="resource-barchart"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Visitor Chart End-->

                        <!-- Start -->
                        <!-- Analythics Start -->
                         <!-- Bar Chart start -->
                         <div class="col-md-12 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5> Registrations</h5>
                                        
                                        <div class="card-header-right">
                                            <i class="icofont icofont-rounded-down"></i>
                                            <i class="icofont icofont-refresh"></i>
                                            <i class="icofont icofont-close-circled"></i>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                            <div id="tchart">
                                                </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bar Chart Ends -->
                        <!-- Analythics End -->


                          <!-- SITE VISIT CHART start -->
                          <div class="col-md-12 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Revenue</h5>
                                        <div class="card-header-right">
                                            <i class="icofont icofont-rounded-down"></i>
                                            <i class="icofont icofont-refresh"></i>
                                            <i class="icofont icofont-close-circled"></i>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div id="barchart"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- SITE VISIT CHART Ends -->


                        <!-- Total Sale Start -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-block">
                                    <h5>Doctors</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-12">
                                        <ul>
                                            <% allUsers.forEach((user)=>{ %>
                                                <% if(user.role == 2){ %>
                                            <li>
                                                <div style="display:inline-block">
                                                    <div style="display:inline-block" class="float-left mr-10">
                                                        <a href="#!"><img class="ml-2" style="display:inline-block" src="/assets/images/user.png" alt="User-Profile-Image" width="50"></a>
                                                    </div>
                                                    <div class="ml-3" style="padding:0 30px 0 50px">
                                                        <span style="display:block"><%= user.firstname %> <%= user.lastname %></span>
                                                        <span style="display:block"><small> <%= user.city %> <%= user.country %></small></span>
                                                    </div>
                                               </div>
                                            </li><hr>
                                            <% } %>
                                            <% }) %>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Total Sale Start -->

                        <!-- Product table Start -->
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-block">
                                    <h5>Upcoming Appointments</h5>
                                </div>
                                <div class="card-block product-table">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr class="text-uppercase">
                                                    <th>S/N</th>
                                                    <th>Patient Name</th>
                                                    <th>Doctor Name</th>
                                                    <th>Timing</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <% if(!appointmentIsEmpty){ %>
                                            <tbody>
                                                <% appointments.forEach((appointment)=>{ %>
                                                    <% if(appointment.taken === false && appointment.doctor){ %>
                                                <tr>
                                                    <td></td>
                                                    <td><%= appointment.patient.firstname %> <%= appointment.patient.lastname %></td>
                                                    <td><%= appointment.doctor.firstname %> <%= appointment.doctor.lastname %></td>
                                                    <td><%= appointment.appointmenttime.toLocaleTimeString('en-us') %></td>
                                                    <% if(appointment.taken === true){ %>
                                                    <td><label class="label label-md bg-success">Attended</label></td>
                                                    <% }else{ %>
                                                    <td><label class="label label-md bg-warning">Pending</label></td>
                                                    <% } %>
                                                    <td>
                                                        <!-- <form action="/takeup-appointment" method="post"> -->
                                                            <!-- <input type="hidden" name="app_id" value="appointment._id"> -->
                                                            <a href="/consultation/<%= appointment.patient._id %>" class="btn btn-success btn-round btn-outline-success">Take Up</a>
                                                        <!-- </form> -->
                                                    </td>
                                                </tr>
                                                <% } %>
                                                <% }) %>
                                            </tbody>
                                            <% }else{ %>
                                                <tbody>
                                                    <p class="text-center">There are no appointments</p>
                                                </tbody>
                                            <% } %>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Product table End -->

                       
                       

                        <!-- Reset Order Start -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <h5>New Patient</h5>
                                </div>
                                <div class="card-block reset-table p-t-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr class="text-uppercase">
                                                    <th>S/N</th>
                                                    <th>Patient Name</th>
                                                    <th>Phone Number</th>
                                                    <th>Created</th>
                                                    <th>Status</th>
                                                    <!-- <th>Price</th>
                                                    <th>Quantity</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% allUsers.forEach((user)=>{ %>
                                                    <% if(user.role == 8){ %>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                            <div style="display:inline-block" class="float-left mr-10">
                                                                    <a href="#!"><img class="ml-2" style="display:inline-block" src="/assets/images/avatar-2.png" alt="User-Profile-Image" width="50"></a>
                                                                </div>
                                                                <div class="ml-3" style="padding:0 30px 0 50px">
                                                                    <span style="display:block"> <%= user.firstname %> <%= user.lastname %></span>
                                                                    <span style="display:block; text-transform: capitalize"><small> <%= user.city %> <%= user.country %></small></span>
                                                                </div>
                                                    </td>
                                                    <td>+234<%= user.phone %></td>
                                                    <td><%= user.created %></td>
                                                    <% if(user.status === true){ %>
                                                    <td><label class="label label-md bg-success">Active</label></td>
                                                    <% }else{ %>
                                                    <td><label class="label label-md bg-danger">Inactive</label></td>
                                                    <% } %>
                                                </tr>
                                                <% } %>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Reset Order End -->

                    </div>
                </div>
            </div>

            <!-- <div id="styleSelector">

            </div> -->
        </div>
    </div>
</div>
<!-- Center page ends -->
<script src="/assets/js/apexcharts.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script> -->
<script>
new Vue({
    el: '#charts',
    data: {
        users_reg_url: '/user-registrations',
        payments_url: '/analytics-page',
        usersData: null,
        usersDataMonth: null,
        paymentsData: null,
        paymentsDataMonth: null
    },
    mounted() {
        this.registrations();
        this.payments()
    },

    methods: {
        registrations: function () {
            let self = this;
            axios.get(self.users_reg_url)
            .then(function (response) {
                self.usersData = response.data.data
                self.usersDataMonth = response.data.months
                var MONTHS = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var options = {
                    chart: {
                        height: 380,
                        width: "100%",
                        type: "area"
                    },
                    series: [
                        {
                            name: "Patient Registration",
                            data: self.usersData
                        }
                    ],
                    yaxis: {
                        title: {
                            text: 'Count'
                        }
                    },
                    xaxis: {
                        categories: self.usersDataMonth, 
                        title: {
                            text: 'Month'
                        }
                                       
                    },
                    tooltip: {
                        y: {
                            formatter: function(val, index) {
                                return val;
                            }
                        }
                    }
                };
                let chart = new ApexCharts(document.querySelector("#tchart"), options);
                chart.render();
                
            })
            .catch(function (error) {
                console.log(error.response.data)
            })
        },

        payments: function () {
            let self = this;
            axios.get(self.payments_url)
            .then(function (response) {
                self.paymentsData = response.data.data
                self.paymentsDataMonth = response.data.months
                // Second Chart
                var colors = ['#00E396', '#008FFB',  '#FEB019', '#FF4560', '#775DD0', '#546E7A', '#26a69a', '#D10CE8'];
                var options = {
                chart: {
                    height: 380,
                    width: "100%",
                    type: "bar",
                },
                colors: colors,
                plotOptions: {
                    bar: {
                        columnWidth: '55%',
                        distributed: true
                    }
                },
                dataLabels: {
                    enabled: true,
                },
                series: [
                    {
                    name: "Payments",
                    data: self.paymentsData
                    }
                ],
                yaxis: {
                        title: {
                            text: '(₦) Amount'
                        }
                },
                xaxis: {
                    categories: self.paymentsDataMonth,
                    title: {
                        text: 'Month'
                    },
                    
                    // categories: ,                
                },
                tooltip: {
                    x: {
                        formatter: function(val, { series, seriesIndex, dataPointIndex, w }) {
                            return val;
                        }
                    }
                }
                };

                let secondchart = new ApexCharts(document.querySelector("#barchart"), options);

                secondchart.render();
            })
            .catch(function (error) {
                console.log(error.response.data)
            })
        }
    }

})

    // First Chart



</script>
<% include ../partials/footerCopy %>