<% include ../partials/header %>
<% include ../partials/sidebarCopy %>

 <!-- Center page starts -->
 <div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Dashboard</h4>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">
                        <!-- Visitor Chart Start-->
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-block-big card-visitor-block">
                                        <%
                                        const newDoctors = users.map(doctor =>{
                                          if (doctor.role === 2){
                                            const rDoctor = doctor.role === 2
                                            return rDoctor;
                                          }                    
                                        })
                                        const doctors = newDoctors.filter(v => v).length;
                                     %>
                                    <div class="row">
                                        <div class="col-sm-8  card-visitor-button">
                                            <button class="btn btn-primary btn-icon"><i class="icofont icofont-stethoscope"></i></button>
                                            <div class="card-contain">
                                                <h6><%= doctors %></h6>
                                                <p class="text-muted f-18 m-0">Doctors</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="visitor-chart"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-block-big card-visitor-block">
                                        <%
                                        const newPatients = users.map(patient =>{
                                          if (patient.role === 8){
                                            const rPatient = patient.role === 8
                                            return rPatient;
                                          }                    
                                        })
                                        const patients = newPatients.filter(v => v).length;
                                     %>
                                    <div class="row">
                                        <div class="col-sm-8 card-visitor-button">
                                            <button class="btn btn-warning btn-icon"><i class="icofont icofont-paralysis-disability"></i></button>
                                            <div class="card-contain">
                                                <h6><%= patients %></h6>
                                                <p class="text-muted f-18 m-0">Patients</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="sale-chart"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-4">
                            <div class="card">
                                <div class="card-block-big card-visitor-block">
                                    <div class="row">
                                        <div class="col-sm-8 card-visitor-button">
                                            <button class="btn btn-success btn-icon"><i class="icofont icofont-money"></i></button>
                                            <div class="card-contain">
                                                <h6>N2,534</h6>
                                                <p class="text-muted f-18 m-0">Revenue</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="resource-barchart"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Visitor Chart End-->

                        <!-- REGISTRATION FEE -->
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Registration & Consultation Fee</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>PatientID</th>
                                                    <th>Name</th>
                                                    <th>Age</th>
                                                    
                                                    <th>Phone</th>
                                                    <th>Payments</th>
                                                    <th>Total</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% users.forEach((patient) => { %>
                                                    <% if(patient.role === 8){ %>
                                                    <% if(patient.account.paid === false){ %>
                                                <tr>
                                                    <%
                                                        var birthday = new Date(patient.birthday)
                                                        var today = new Date()
                                                        var age = today.getFullYear() - birthday.getFullYear()
                                                        if(today.getMonth() < birthday.getMonth()){
                                                            age
                                                        }
                                                        if(today.getMonth() == birthday.getMonth() && today.getDate() < birthday.getDate()){
                                                            age
                                                        }
                                                    %>
                                                    <%
                                                        var total = patient.account.registration + patient.account.consultation
                                                    %>
                                                   
                                                        <td></td>
                                                        <td><%= patient.patientId %></td>
                                                        <td> <a href="/patient/<%= patient.id %>"><%= patient.firstname %> <%= patient.lastname %></a></td>
                                                        <td><%= age %></td>
                                                        
                                                        <td>+234<%= patient.phonenumber %></td>
                                                        <td>
                                                            <% if(patient.account.registration && patient.account.consultation){ %>
                                                                <span style="color:blue">Registration Fee: </span> &#8358;<%= patient.account.registration %><br>
                                                                <span style="color:blue">Consultation Fee: </span> &#8358;<%= patient.account.consultation %>
                                                            <% } %>
                                                            <% if(patient.account.registration  && !patient.account.consultation){ %>
                                                                <span style="color:blue">Registration Fee: </span> &#8358;<%= patient.account.registration %>
                                                            <% } %>
                                                            <% if(patient.account.consultation && !patient.account.registration){ %>
                                                                <span style="color:blue">Consultation Fee: </span> &#8358;<%= patient.account.consultation %>
                                                            <% } %>
                                                        </td>
                                                        <td style="font-weight: 900; font-size: 1rem">&#8358;<%= total %></td>
                                                        <% if(patient.account.paid === false){ %>
                                                        <td><label class="label label-md bg-warning">pending</label></td>
                                                        <% }else{ %>
                                                        <td><label class="label label-md bg-success">paid</label></td>
                                                        <% } %>
                                                        <td>
                                                            <button value="<%= total %>" id="pnotify-success" name="<%= patient._id %>" type="button" class="btn btn-success pay"><i class="ti-money"></i> Paid?</button>
                                                            <!-- <a href="/invoice/<%= patient._id %>" class="btn btn-primary"><i class="ti-receipt"></i> Invoice </a> -->
                                                   
                                                </tr>
                                                
                                                <% } %>
                                                <% } %>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- LABORATORY TEST FEE -->
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Laboratory Test Fee</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="order-table" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>PatientID</th>
                                                    <th>Patient Name</th>
                                                    <th>Tests</th>
                                                    <th>Total Amount</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% consultations.forEach((consultation) => { %>
                                                    <% if(!consultation.labpaid){ %>
                                                <tr>
                                                     
                                                        <td></td>
                                                        <td><%= consultation.patient.patientId %></td>
                                                        <td> <a href="/patient/<%= consultation.patient._id %>"><%= consultation.patient.firstname %> <%= consultation.patient.lastname %></a></td>
                                                        <%
                                                            function getSum(total, num) {
                                                                return total + num;
                                                            }
                                                            const totalLabPrice = consultation.labtestObject.map(price =>{
                                                                const rPrice = price.price
                                                                return rPrice;
                                                                               
                                                            })
                                                            var totalAmount;
                                                            if(totalLabPrice === undefined || totalLabPrice.length == 0){
                                                                totalAmount = 0
                                                            }else{
                                                                totalAmount = totalLabPrice.reduce(getSum)
                                                            }
                                                            
                                                        %>
                                                        <td>
                                                            <% consultation.labtestObject.forEach((test)=>{ %>
                                                                <p style="font-weight: 500"><%= test.name %>
                                                                     <span style="font-weight: 900; color: darkorange">(&#8358;<%= test.price %>)</span></p>
                                                            <% }) %>
                                                        </td>
                                                        <td style="font-weight: 900; font-size: 1rem">&#8358;<%= totalAmount %></td>
                                                        <% if(consultation.labpaid === false){ %>
                                                        <td><label class="label label-md bg-warning">pending</label></td>
                                                        <% }else{ %>
                                                        <td><label class="label label-md bg-success">paid</label></td>
                                                        <% } %>
                                                        <td>
                                                            <button value="<%= totalAmount %>" id="pnotify-success" name="<%= consultation._id %>" type="button" class="btn btn-success labpay"><i class="ti-money"></i> Paid?</button>
                                                            <!-- <a href="/invoice/<%= consultation.patient._id %>" class="btn btn-primary"><i class="ti-receipt"></i> Invoice </a> -->
                                                    
                                                </tr>
                                                <% } %>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PHARMACY FEE -->
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Drugs Fee</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="alt-pg-dt" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>PatientID</th>
                                                    <th>Patient Name</th>
                                                    <th>Drugs</th>
                                                    <th>Total Amount</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <% consultations.forEach((consultation) => { %>
                                                        <% if(!consultation.pharmacypaid){ %>
                                                <tr>
                                                   
                                                    
                                                        <td></td>
                                                        <td><%= consultation.patient.patientId %></td>
                                                        <td> <a href="/patient/<%= consultation.patient.id %>"><%= consultation.patient.firstname %> <%= consultation.patient.lastname %></a></td>
                                                        <%
                                                            function getSum(total, num) {
                                                                return total + num;
                                                            }
                                                            const totalDrugPrice = consultation.drugsObject.map(price =>{
                                                                const rPrice = price.sellprice
                                                                return rPrice;
                                                                               
                                                            })
                                                            var totalPrice;
                                                            if(totalDrugPrice === undefined || totalDrugPrice.length == 0){
                                                                totalPrice = 0
                                                            }else{
                                                                totalPrice = totalDrugPrice.reduce(getSum)
                                                            }
                                                            
                                                        %>
                                                        <td>
                                                            <% consultation.drugsObject.forEach((drug)=>{ %>
                                                                <p style="font-weight: 500"><%= drug.name %>
                                                                <span style="font-weight: 900; color: darkorange">(&#8358;<%= drug.sellprice %>)</span></p>
                                                            <% }) %>
                                                        </td>
                                                        <td style="font-weight: 900; font-size: 1rem">&#8358;<%= totalPrice %></td>
                                                        <% if(consultation.pharmacypaid === false){ %>
                                                        <td><label class="label label-md bg-warning">pending</label></td>
                                                        <% }else{ %>
                                                        <td><label class="label label-md bg-success">paid</label></td>
                                                        <% } %>
                                                        <td>
                                                            <button value="<%= totalPrice %>" id="pnotify-success" name="<%= consultation._id %>" type="button" class="btn btn-success drugpay"><i class="ti-money"></i> Paid?</button>
                                                            <!-- <a href="/invoice/<%= consultation.patient._id %>" class="btn btn-primary"><i class="ti-receipt"></i> Invoice </a> -->
                                                    
                                                </tr>
                                                
                                               
                                                <% } %>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- <div id="styleSelector">

            </div> -->
        </div>
    </div>
</div>
<!-- Center page ends -->

<% include ../partials/footerCopy %>