<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Addmitted Patients</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Addmitted Patients</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Patients</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Addmitted Patients</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Patient ID</th>
                                                    <th>Name</th>
                                                    <th>Sex</th>
                                                    <th>Date of Birth</th>
                                                    <th>City</th>
                                                    <th>Ward</th>
                                                    <th>Status</th>
                                                    <th>Add Observation</th>
                                                    <th>Ward Round</th>
                                                    <th>IO Chart</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% users.forEach((user)=>{ %>
                                                    <% if(user.role == 8 && user.addmitted === true){ %>
                                                <tr>
                                                    <td></td>
                                                    <td><%= user.patientId %></td>
                                                    <td> <a href="/patient/<%= user._id %>"><%= user.firstname %> <%= user.lastname %></a></td>
                                                    <td><%= user.gender %></td>
                                                    <td><%= user.birthday.toDateString() %></td>
                                                    <td><%= user.address %></td>
                                                    <td><%= user.ward %></td>
                                                    <% if(user.addmitted && user.discharge){ %>
                                                    <td><label class="label label-md bg-success">Discharged</label></td>
                                                    <% }else{ %>
                                                    <td><label class="label label-md bg-danger">Admitted</label></td>
                                                    <% } %>
                                                    <td><a  class="btn btn-inverse" href="/add-daily-report/<%= user._id %>">Observation</a></td>
                                                    <td><a  class="btn btn-primary" href="/ward-round/<%= user._id %>">Ward Round</a></td>
                                                    <td><a style="background-color: rgb(47, 113, 255); color: honeydew" class="btn" href="/intake-output-chart/<%= user._id %>">IO Chart</a></td>
                                                    <td><a class="btn btn-success" href="/patient-discharge/<%= user._id %>">Discharge/Transfer</a>
                                                    <a class="btn btn-warning" href="/nurse-assessment/<%= user._id %>"><i class="fa fa-stethoscope"></i>  Assess Patient</a></td>
                                                </tr>
                                                <% } %> 
                                                <% }) %> 
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>