<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>AnteNatal Result</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="/all-antenatal">AnteNatals</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5><%= user.firstname %> <%= user.lastname %> Present Pregnancy</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Date</th>
                                                    <th>Weight</th>
                                                    <th>Urinalysis</th>
                                                    <th>B.P</th>
                                                    <th>Pallor </th>
                                                    <th>G.A </th>
                                                    <th>Fundal Height</th>
                                                    <th>Presentation</th>
                                                    <th>Fetal Heart Rate</th>
                                                    <th>Oedema</th>
                                                    <th>Comments</th>
                                                    <th>TCA Date</th>
                                                    <th>Initial</th>
                                                    <th>Created</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(ancs.presentpregnancy.length > 0){ %>
                                                <% ancs.presentpregnancy.forEach((anc)=>{ %>
                                                <tr>
                                                       
                                                    <td></td>
                                                    <td><%= anc.thedate.toDateString() %></td>
                                                    <td><%= anc.weight %></td>
                                                    <td><%= anc.urinalysis %></td>
                                                    <td><%= anc.bp %></td>
                                                    <td><%= anc.pallor %></td>
                                                    <td><%= anc.maturity %></td>
                                                    <td><%= anc.fundalheight %></td>
                                                    <td><%= anc.presentation %></td>
                                                    <td><%= anc.fetalheartrate %></td>
                                                    <td> <%= anc.oedema %></td>
                                                    <td> <%= anc.comments %></td>
                                                    <td> <%= anc.tcadate.toLocaleDateString('en-us') %></td>
                                                    <td> <%= anc.initial %></td>
                                                    <% if(anc.datetaken){ %>
                                                    <td><%= anc.datetaken.toLocaleDateString('en-us') %></td>
                                                    <% }else{ %>
                                                    <td></td>
                                                    <% } %>
                                                </tr>
                                                <% }) %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                                <!-- Zero config.table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5><%= user.firstname %> <%= user.lastname %> Clinical Notes</h5>
                                        <div class="card-header-right">
                                            <i class="icofont icofont-rounded-down"></i>
                                            <i class="icofont icofont-refresh"></i>
                                            <i class="icofont icofont-close-circled"></i>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="order-table" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                      
                                                        <th>Clinical Notes</th>
                                                        <th>Created</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(ancs.clinicalnotes.length > 0){ %>
                                                    <% ancs.clinicalnotes.forEach((anc)=>{ %>
                                                    <tr>
                                                           
                                                        <td></td>
                                                        <td><%= anc.clinicalnotes %></td>
                                                        <% if(anc.datetaken){ %>
                                                        <td><%= anc.datetaken.toLocaleDateString('en-us') %></td>
                                                        <% }else{ %>
                                                        <td></td>
                                                        <% } %>
                                                    </tr>
                                                    <% }) %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-12">
                                <!-- Zero config.table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5><%= user.firstname %> <%= user.lastname %> Lab Tests</h5>
                                        <div class="card-header-right">
                                            <i class="icofont icofont-rounded-down"></i>
                                            <i class="icofont icofont-refresh"></i>
                                            <i class="icofont icofont-close-circled"></i>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="simpletable" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>HB</th>
                                                        <th>HB Date</th>
                                                        <th>Blood Group</th>
                                                        <th>BloodGroup Date</th>
                                                        <th>MPS</th>
                                                        <th>MPS Date</th>
                                                        <th>VDRL </th>
                                                        <th>VDRL Date </th>
                                                        <th>Serology </th>
                                                        <th>Serology Date </th>
                                                        <th>Urinalysis</th>
                                                        <th>Urinalysis Date</th>
                                                        <th>Created</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(ancs.labtests.length > 0){ %>
                                                    <% ancs.presentpregnancy.forEach((anc)=>{ %>
                                                    <tr>
                                                           
                                                        <td></td>
                                                        <td><%= anc.hb %></td>
                                                        <td><%= anc.hb.toDateString() %></td>
                                                        <td><%= anc.bloodgroup %></td>
                                                        <td><%= anc.bloodgroup.toDateString() %></td>
                                                        <td><%= anc.mps %></td>
                                                        <td><%= anc.mps.toDateString() %></td>
                                                        <td><%= anc.vdrl %></td>
                                                        <td><%= anc.vdrl.toDateString() %></td>
                                                        <td><%= anc.serology %></td>
                                                        <td><%= anc.serology.toDateString() %></td>
                                                        <td><%= anc.urinalysis %></td>
                                                        <td><%= anc.urinalysis.toDateString() %></td>
                                                        <% if(anc.datetaken){ %>
                                                        <td><%= anc.datetaken.toLocaleDateString('en-us') %></td>
                                                        <% }else{ %>
                                                        <td></td>
                                                        <% } %>
                                                    </tr>
                                                    <% }) %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                    <!-- Zero config.table start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><%= user.firstname %> <%= user.lastname %> Treatment & Immunization</h5>
                                            <div class="card-header-right">
                                                <i class="icofont icofont-rounded-down"></i>
                                                <i class="icofont icofont-refresh"></i>
                                                <i class="icofont icofont-close-circled"></i>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="dt-responsive table-responsive">
                                                <table id="simpletable" class="table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>S/N</th>
                                                            <th>TT1</th>
                                                            <th>TT1 Next Visit</th>
                                                            <th>TT2</th>
                                                            <th>TT2 Next Visit</th>
                                                            <th>TT3</th>
                                                            <th>TT3 Next Visit</th>
                                                            <th>TT4</th>
                                                            <th>TT4 Next Visit</th>
                                                            <th>TT5 </th>
                                                            <th>TT5 Next Visit</th>
                                                            <th>Malaria: IPT 1</th>
                                                            <th>Malaria: IPT 1 Next Visit</th>
                                                            <th>Malaria: IPT 2</th>
                                                            <th>Malaria: IPT 2 Next Visit</th>
                                                            <th>Created</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(ancs.treatment.length > 0){ %>
                                                        <% ancs.treatment.forEach((anc)=>{ %>
                                                            
                                                        <tr>
                                                            <td></td>
                                                            <td><%= anc.tt1.toDateString() %></td>
                                                            <td><%= anc.tt1next.toDateString() %></td>
                                                            <td><%= anc.tt2.toDateString() %></td>
                                                            <td><%= anc.tt2next.toDateString() %></td>
                                                            <td><%= anc.tt3.toDateString() %></td>
                                                            <td><%= anc.tt3next.toDateString() %></td>
                                                            <td><%= anc.tt4.toDateString() %></td>
                                                            <td><%= anc.tt4next.toDateString() %></td>
                                                            <td><%= anc.tt5.toDateString() %></td>
                                                            <td><%= anc.tt5next.toDateString() %></td>
                                                            <td><%= anc.malariaipt1.toDateString() %></td>
                                                            <td><%= anc.malariaipt1next.toDateString() %></td>
                                                            <td><%= anc.malariaipt2.toDateString() %></td>
                                                            <td><%= anc.malariaipt2next.toDateString() %></td>
                                                            <% if(anc.datetaken){ %>
                                                            <td><%= anc.datetaken.toLocaleDateString('en-us') %></td>
                                                            <% }else{ %>
                                                            <td></td>
                                                            <% } %>
                                                        </tr>
                                                        <% }) %>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                        <!-- Zero config.table start -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h5><%= user.firstname %> <%= user.lastname %> Dates Given</h5>
                                                <div class="card-header-right">
                                                    <i class="icofont icofont-rounded-down"></i>
                                                    <i class="icofont icofont-refresh"></i>
                                                    <i class="icofont icofont-close-circled"></i>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <div class="dt-responsive table-responsive">
                                                    <table id="order-table" class="table table-striped table-bordered nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>S/N</th>
                                                              
                                                                <th>Iron/Folate Supplement</th>
                                                                <th>Multi Vitamins</th>
                                                                <th>Created</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if(ancs.datesgiven.length > 0){ %>
                                                            <% ancs.datesgiven.forEach((anc)=>{ %>
                                                            <tr>
                                                                   
                                                                <td></td>
                                                                <td><%= anc.ironfolate.toDateString() %></td>
                                                                <td><%= anc.multivitamin.toDateString() %></td>
                                                                <% if(anc.datetaken){ %>
                                                                <td><%= anc.datetaken.toLocaleDateString('en-us') %></td>
                                                                <% }else{ %>
                                                                <td></td>
                                                                <% } %>
                                                            </tr>
                                                            <% }) %>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>