<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Billings</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="/billings">Billings</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Services Billings</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                    <tr>
                                                            <th>S/N</th>
                                                            <th>PatientID</th>
                                                            <th>Patient Name</th>
                                                            <th>Service</th>
                                                            <th>Total Amount</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                            </thead>
                                            <tbody>
                                                    <% payments.forEach((payment) => { %>
                                                        <% if(payment.services.length > 1 && (payment.patient !== null || payment.patient !== undefined)){ %>
                                                        
                                                <tr>
                                                   
                                                    
                                                        <td></td>
                                                        <td><%= payment.patient.patientId %></td>
                                                        <td> <a href="/patient/<%= payment.patient.id %>"><%= payment.patient.firstname %> <%= payment.patient.lastname %></a></td>
                                                       
                                                        <td>
                                                            <% payment.services.forEach((service)=>{ %>
                                                                <p style="font-weight: 500"><%= service.service %>
                                                                <span style="font-weight: 900; color: darkorange">(&#8358;<%= service.price %>)</span></p>
                                                            <% }) %>
                                                        </td>
                                                        <td style="font-weight: 900; font-size: 1rem">&#8358;<%= payment.amount %></td>
                                                        <% if(!payment.status){ %>
                                                        <td><label class="label label-md bg-warning">pending</label></td>
                                                        <% }else{ %>
                                                        <td><label class="label label-md bg-success">paid</label></td>
                                                        <% } %>
                                                        <td>
                                                            <% if(!payment.status){ %>
                                                                <button id="<%= payment._id %>" type="button" class="btn btn-success billingpay"><i class="ti-money"></i> Approve?</button>
                                                            <% } %>
                                                            <% if(payment.status){ %>
                                                                <a href="/billing-invoice/<%= payment._id %>" class="btn btn-primary"><i class="fa fa-file-text-o"></i> Invoice</a>
                                                            <% } %>

                                                        </td>
                                                </tr>
                                                
                                               
                                               
                                                <% } %>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>