<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Blood Donors</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="/blood-donors">Donors</a>
                            </li>
                            <li class="breadcrumb-item"><a href="/add-donor">Add Donor</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Donors</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Donor ID</th>
                                                    <th>Name of Donor</th>
                                                    <th>Age</th>
                                                    <th>Sex</th>
                                                    <th>Phone</th>
                                                    <th>History</th>
                                                    <th>Blood Recepient</th>
                                                    <th>Blood Type</th>
                                                    <th>HIV Test</th>
                                                    <th>HCV Test</th>
                                                    <th>HBSAG Test</th>
                                                    <th>VDRL Test</th>
                                                    <th>Created By</th>
                                                    <th>Date Created</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% donors.forEach((donor) => { %>
                                                <tr>
                                                    
                                                        <td></td>
                                                        <td><%= donor.donornumber %></td>
                                                        <td><%= donor.name %></td>
                                                        <td><%= donor.age %></td>
                                                        <td><%= donor.sex %></td>
                                                        <td>+234<%= donor.phone %></td>
                                                        <td><%= donor.history %></td>
                                                        <% if(donor.patient){ %>
                                                        <td> <%= donor.patient.firstname %> <%= donor.patient.lastname %></td>
                                                        <% }else{ %>
                                                            <td>Voluntary Donation</td>
                                                        <% } %>
                                                        <td><%= donor.bloodtype %></td>
                                                        <td><%= donor.hivtest %></td>
                                                        <td><%= donor.hcvtest %></td>
                                                        <td><%= donor.hbsagtest %></td>
                                                        <td><%= donor.vdrltest %></td>
                                                        <td> <%= donor.creator.firstname %> <%= donor.creator.lastname %></td>
                                                        <td><%= donor.createdAt.toDateString() %></td>
                                                       
                                                    
                                                </tr>
                                                
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>