<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Local Inventory</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Items</a>
                            </li>
                            <li class="breadcrumb-item"><a href="/add-to-inventory">Add Item</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Inventory List</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Product Code</th>
                                                    <th>Item Name</th>
                                                    <th>Quantity</th>
                                                    
                                                    <th>Shelf</th>
                                                    <th>Unit</th>
                                                    
                                                    <th>Selling Price(₦)</th>
                                                    <th>Consumed</th>
                                                    
                                                    <th>Date Received</th>
                                                    <th>Balance </th>
                                                    <th>Comment </th>
                                                   <th>Creator</th>
                                                   <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% items.forEach((item) => { %>
                                                    
                                                <tr>
                                                    <td></td>
                                                    <td><%= item.productcode %></td>
                                                    <td><%= item.name.name %></td>
                                                    <td><%= item.quantity %></td>
                                                   
                                                    <td><%= item.shelf %> <%= item.shelfno %></td>
                                                    <td><%= item.unit %></td>
                                                    <td><%= item.price %></td>
                                                    <td><%= item.consumed %></td>
                                                   
                                                   
                                                    <td><%= item.received.toDateString() %></td>
                                                    
                                                    <td><%= item.balance %></td>
                                                    <td><%= item.comment %></td>
                                                    <td><%= item.creator.firstname %> <%= item.creator.lastname %></td>
                                                    <td>
                                                        <a class="btn btn-info" href="/edit-inventory/<%= item._id %>">Edit</a>
                                                        <button id="<%= item._id %>" class="btn btn-danger localItem">Delete</button>
                                                    </td>

                                                </tr>
                                                
                                                
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>