<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Laboratory Fees</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Laboratory Fees</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <!-- LABORATORY TEST FEE -->
            <div class="col-sm-12">
                    <!-- Zero config.table start -->
                    <div class="card">
                      <div class="card-header">
                        <h5>Laboratory Test Fee</h5>
                        <div class="card-header-right">
                          <i class="icofont icofont-rounded-down"></i>
                          <i class="icofont icofont-refresh"></i>
                          <i class="icofont icofont-close-circled"></i>
                        </div>
                      </div>
      
                      <div class="card-block">
                        <div class="dt-responsive table-responsive">
                          <table id="order-table" class="table table-striped table-bordered nowrap">
                            <thead>
                              <tr>
                                <th>S/N</th>
                                <th>PatientID</th>
                                <th>Patient Name</th>
                                <th>Patient Type</th>
                                <th>Status</th>
                                <th>Tests</th>
                                <th>Unit Amount</th>
                                <th>Total Amount</th>
                                <th>Mode of Payment</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% consultations.forEach((consultation) => { %> 
                                <% if(consultation.labtestObject.length > 0 consultation.patient !== null){ %>
                              <tr>
                                <%
                                 function getSum(total, num){ 
                                   return total + num; 
                                  }
                                   const totalTestPrice = consultation.labtestObject.map(price =>{
                                    const rPrice = price.price 
                                    return rPrice;
                                   }) 
                                  var testPrice;
                                  if(totalTestPrice === undefined || totalTestPrice.length == 0){ 
                                    testPrice = 0 
                                  }else{
                                    testPrice = totalTestPrice.reduce(getSum)
                                  }
                               %>
                                <td></td>
                                <td><%= consultation.patient.patientId %></td>
                                <td>
                                  <a href="/patient/<%= consultation.patient._id %>"
                                    class="mr-2"><%= consultation.patient.firstname %> 
                                    <%= consultation.patient.lastname %></a>
                                  <% if(consultation.patient.retainershipname){ %>
                                  <label class="label label-md bg-success"><%= consultation.patient.retainershipname.hmoname%></label>
                                  <% } %>
                                </td>
      
                                <% if(!consultation.patient.emergency){ %>
                                <td>
                                  <label class="label label-bg bg-success">Normal Patient</label>
                                </td>
                                <% }else{ %>
                                <td>
                                  <label class="label label-bg bg-danger">Emergency Patient</label>
                                </td>
                                <% } %>
                                 <% if(consultation.labpaid && consultation.patient.retainership === "Yes"){ %>
                                <td>
                                  <label class="label label-md bg-success">Cleared by NHIS</label>
                                </td>
                                <% }else if(consultation.labpaid){ %>
                                <td>
                                  <label class="label label-md bg-success">Paid</label>
                                </td>
                                <% }else if(!consultation.labpaid){ %>
                                <td>
                                  <label class="label label-md bg-warning">pending</label>
                                </td>
                                <% } %>
                                <td>
                                  <% consultation.labtestObject.forEach((test, index, array)=>{ %>
      
                                  <input type="checkbox" name="<%= consultation._id %>" id="<%= index %>"
                                    class="form-control labChecked" />
                                  <p style="font-weight: 500">
                                    <label><%= test.tests.name %></label>
                                    <% if(consultation.labpaid && consultation.patient.retainership === "Yes"){ %>
                                    <span class="label label-sm bg-success">Cleared by NHIS</span>
                                    <% }else if(test.status){ %>
                                    <span class="label label-sm bg-success labpaid">Paid</span>
                                    <% }else if(!test.status){ %>
                                    <span class="label label-sm bg-warning labunpaid">pending</span>
                                    <% } %>
                                  </p>
                                  <% }) %>
                                </td>
                                <td>
                                  <% consultation.labtestObject.forEach((test)=>{ %>
                                  <p style="font-weight: 900; color: darkorange">
                                    (&#8358;<%= test.price %>)
                                  </p>
                                  <% }) %>
                                </td>
                                <% if(consultation.patient.retainership === "Yes"){ %>
                                <td style="font-weight: 900; font-size: 1rem">
                                  <span style="text-decoration-line: line-through; text-decoration-color: red">
                                    &#8358;<%= testPrice %></span>
                                  (&#8358;<%= testPrice * 0.1 %>)
                                </td>
                                <% }else{ %>
                                <td style="font-weight: 900; font-size: 1rem">
                                  &#8358;<%= testPrice %>
                                </td>
                                <% } %>
      
                                <td>
                                  <% if(!consultation.labpaid){ %>
                                  <div class="input-group">
                                    <select id="modeofpayment2" name="modeofpayment" class="form-control">
                                      <option>Select</option>
                                      <option value="Cash">Cash</option>
                                      <option value="POS">POS</option>
                                      <option value="Transfer">Transfer</option>
                                      <option value="Bank Deposit">Bank Deposit</option>
                                    </select>
                                  </div>
                                  <% }%>
                                </td>
                                <td>
                                  <% if(!consultation.labpaid){ %> 
                                    <% if(consultation.patient.retainership === "Yes"){ %>
                                  <button value="<%= testPrice * 0.1 %>" name="<%= consultation._id %>" type="button"
                                    class="btn btn-success labpay">
                                    Pay
                                  </button>
                                  <% }else{ %>
                                  <button value="<%= testPrice %>" name="<%= consultation._id %>" type="button"
                                    class="btn btn-success labpay">
                                    Pay
                                  </button>
                                  <% } %>
                                   <% } %>
                                    <% if(consultation.labpaid){ %>
                                  <a target="_blank" href="/labtest-invoice/<%= consultation._id %>"
                                    class="btn btn-primary"><i class="ti-receipt"></i> Invoice
                                  </a>
                                  <% } %>
                                </td>
                              </tr>
      
                              <% } %> 
                              <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>