<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Drugs Fees</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="/pharmacy-fees">Drugs Fees</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Drugs Fees</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                    <tr>
                                                            <th>S/N</th>
                                                            <th>PatientID</th>
                                                            <th>Patient Name</th>
                                                            <th>Drugs</th>
                                                            <th>Total Amount</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                            </thead>
                                            <tbody>
                                                    <% consultations.forEach((consultation) => { %>
                                                        
                                                <tr>
                                                   
                                                    
                                                        <td></td>
                                                        <td><%= consultation.patient.patientId %></td>
                                                        <td> <a href="/patient/<%= consultation.patient.id %>"><%= consultation.patient.firstname %> <%= consultation.patient.lastname %></a></td>
                                                        <%
                                                            function getSum(total, num) {
                                                                return total + num;
                                                            }
                                                            const totalDrugPrice = consultation.drugsObject.map(price =>{
                                                                const rPrice = price.drugs.sellprice
                                                                return rPrice;
                                                                               
                                                            })
                                                            var totalPrice;
                                                            if(totalDrugPrice === undefined || totalDrugPrice.length == 0){
                                                                totalPrice = 0
                                                            }else{
                                                                totalPrice = totalDrugPrice.reduce(getSum)
                                                            }
                                                            
                                                        %>
                                                        <td>
                                                            <% consultation.drugsObject.forEach((drug)=>{ %>
                                                                <p style="font-weight: 500"><%= drug.drugs.name %>
                                                                <span style="font-weight: 900; color: darkorange">(&#8358;<%= drug.drugs.sellprice %>)</span></p>
                                                            <% }) %>
                                                        </td>
                                                        <td style="font-weight: 900; font-size: 1rem">&#8358;<%= totalPrice %></td>
                                                        <% if(consultation.pharmacypaid === false){ %>
                                                        <td><label class="label label-md bg-warning">pending</label></td>
                                                        <% }else{ %>
                                                        <td><label class="label label-md bg-success">paid</label></td>
                                                        <% } %>
                                                        <td>
                                                            <!-- <button id="pnotify-success" name="<%= consultation.patient._id %>" type="button" class="btn btn-success pay"><i class="ti-money"></i> Paid?</button> -->
                                                            <% if(consultation.pharmacypaid){ %>
                                                            <a href="/pharmacy-invoice/<%= consultation._id %>" class="btn btn-primary"><i class="ti-receipt"></i> Invoice </a>
                                                            <% } %>
                                                </tr>
                                                
                                               
                                               
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>