<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Pharmacy Requests</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Requests</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Requests</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                    <tr>
                                                            <th rowspan="2">S/N</th>
                                                            <th rowspan="2">Patient ID</th>
                                                            <th rowspan="2">Name</th>
                                                            <th rowspan="2">Reason for Visit</th>
                                                            <th rowspan="2">Doctor</th>
                                                            <th rowspan="2">Status</th>
                                                            <th rowspan="2">Payment Status</th>
                                                            <th rowspan="2">Action</th>
                                                            <th colspan="9">Drugs & Prescriptions</th>
                                                            <tr>
                                                                <th>Drugs</th>
                                                                <th>Starting Date</th>
                                                                <th  >Unit Dose</th>
                                                                <th  >Frequency</th>
                                                                <th  >Duration</th>
                                                                <th  >Total to Dispense</th>
                                                                <th  >Unit Price</th>
                                                                <th>PrescribedBy</th>
                                                               
                                                                <th  >Notes</th>
                                                            </tr>
                                                        </tr>
                                            </thead>
                                            <tbody>
                                                    <% consultations.forEach((consultation)=>{ %>
                                                        <% if(consultation.pharmacystatus === true ){ %>
                                                            <tr>
                                                                    <td></td>
                                                                    <td><%= consultation.patient.patientId %></td>
                                                                    <td>
                                                                         <a href="/patient/<%= consultation.patient._id %>" class="mr-2"> <%= consultation.patient.firstname %> <%= consultation.patient.lastname %></a>
                                                                         <% if(consultation.patient.retainershipname){ %>
                                                                            <label class="label label-md bg-success"><%= consultation.patient.retainershipname.hmoname %></label>
                                                                        <% } %>
                                                                    </td>
                                                                    <td> <%= consultation.visit %></td>
                                                                    
                                                                    <td><%= consultation.doctor.firstname %> <%= consultation.doctor.lastname %></td>
                                                                        
                                                                    <% if(consultation.pharmacyfinish === false){ %>
                                                                    <td><label class="label label-md bg-warning">Ongoing</label></td>
                                                                    <% }else{ %>
                                                                    <td><label class="label label-md bg-success">Finished</label></td>
                                                                    <% } %>
                                                                    <% if(consultation.pharmacypaid === false){ %>
                                                                        <td><label class="label label-md bg-warning">Not Paid</label></td>
                                                                    <% }else{ %>
                                                                    <td><label class="label label-md bg-success">Paid</label></td>
                                                                    <% } %>
                
                                                                    <% if(consultation.pharmacypaid && !consultation.pharmacyfinish){ %>
                                                                    <td>
                                                                        <button id="<%= consultation._id %>" class="btn btn-success paid">Dispensed?</button>
                                                                        <a target="_blank" class="btn btn-inverse" href="/pharmacy-prescription/<%= consultation.patient._id %>">Pharmacy</a>
                                                                    </td>
                                                                    <% }else if(!consultation.pharmacypaid && !consultation.pharmacyfinish){ %>
                                                                    <td><a href="#"  class="btn btn-default ">Not Dispensed</a>
                                                                    <% }else if(consultation.pharmacypaid && consultation.pharmacyfinish){ %>
                                                                   <td><button class="btn btn-success" disabled>Dispensed</button></td>
                                                                    <% } %> 
                                                                
                                                                    <td>
                                                                            <% consultation.drugsObject.forEach((drug)=>{ %>
                                                                        <tr>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                              
                                                                                   
                                                                                    <td style="font-weight: 700; color: green"><%= drug.drugs.name %>   
                                                                                    </td> 
                                                                                    <td>
                                                                                        <%= drug.startingdate.toLocaleDateString() %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= drug.time %>
                                                                                    </td>
                                                                                 
                                                                                    <td>
                                                                                            <%= drug.direction %>
                                                                                    </td>
                                                                                    <td>
                                                                                            <%= drug.duration %>
                                                                                    </td>
                                                                                    <td>
                                                                                            <%= drug.quantity %>
                                                                                    </td>
                                                                                    <td>
                                                                                            <%= drug.price %>
                                                                                    </td>
                                                                                    <% if(drug.prescribedBy){ %>
                
                                                                                        <td><%= drug.prescribedBy.firstname %> <%= drug.prescribedBy.lastname %></td>
                                                                                    <%}else{ %>
                                                                                       <td></td>
                                                                                    <% } %>
                                                                                    <td><%= drug.notes %></td>
                                                                                    
                                                                                    
                                                                                    
                                                                                    
                                                                        </tr>
                                                                        <% }) %>
                                                                    </td>  
                                                                                                
                                                               
                                                                </tr>
                                                    <% } %>
                                                    <% }) %>
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>