<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Registration Fees</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="/registration-fees">Registration Fees</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <!-- REGISTRATION FEE -->
            <div class="col-sm-12">
                    <!-- Zero config.table start -->
                    <div class="card">
                      <div class="card-header">
                        <h5>Registration & Consultation Fee</h5>
                        <div class="card-header-right">
                          <i class="icofont icofont-rounded-down"></i>
                          <i class="icofont icofont-refresh"></i>
                          <i class="icofont icofont-close-circled"></i>
                        </div>
                      </div>
                      <div class="card-block">
                        <div class="dt-responsive table-responsive">
                          <table id="simpletable" class="table table-striped table-bordered nowrap">
                            <thead>
                              <tr>
                                <th>S/N</th>
                                <th>PatientID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Patient Type</th>
                                <th>Phone</th>
                                <th>Payments</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Mode of Payment</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% users.forEach((patient) => { %> 
                                <% if(patient.role === 8 && patient.account.registration || patient.account.consultation){ %>
                              <tr>
                                <% 
                                  var birthday = new Date(patient.birthday) 
                                  var today = new Date()
                                  var age = today.getFullYear() - birthday.getFullYear() 
                                  if(today.getMonth() < birthday.getMonth()){ 
                                    age 
                                  } 
                                  if(today.getMonth() == birthday.getMonth() && today.getDate() < birthday.getDate()){
                                     age
                                  }
                                %> 
                                <% 
                                  var total =
                                  patient.account.registration +
                                  patient.account.consultation
                                %>
      
                                <td></td>
                                <td><%= patient.patientId %></td>
                                <td>
                                  <a href="/patient/<%= patient.id %>" class="mr-2"><%= patient.firstname %> <%= patient.lastname %></a>
                                  <% if(patient.retainershipname){ %>
                                  <label class="label label-md bg-success"><%= patient.retainershipname.hmoname %></label>
                                  <% } %>
                                </td>
                                <td><%= age %></td>
      
                                <% if(patient.createdby == 1){ %>
                                <td>
                                  <label class="label label-bg bg-success">Normal Patient</label>
                                </td>
                                <% }else{ %>
                                <td>
                                  <label class="label label-bg bg-danger">Emergency Patient</label>
                                </td>
                                <% } %>
      
                                <td>+234<%= patient.phonenumber %></td>
                                <td>
                                  <% if(patient.account.registration && patient.account.consultation){ %>
                                    <span style="color:blue">Registration Fee: </span>
                                    &#8358;<%= patient.account.registration %><br />
                                    <span style="color:blue">Consultation Fee: </span>
                                    &#8358;<%= patient.account.consultation %> 
                                  <% } %>
                                  <% if(patient.account.registration &&!patient.account.consultation){ %>
                                  <span style="color:blue">Registration Fee: </span>
                                  &#8358;<%= patient.account.registration %>
                                   <% } %>
                                  <% if(patient.account.consultation && !patient.account.registration){ %>
                                  <span style="color:blue">Consultation Fee: </span>
                                  &#8358;<%= patient.account.consultation %>
                                   <% } %>
                                </td>
                                <td style="font-weight: 900; font-size: 1rem">
                                  &#8358;<%= total %>
                                </td>
                                <% if(patient.account.paid === false){ %>
                                <td>
                                  <label class="label label-md bg-warning">pending</label>
                                </td>
                                <% }else{ %>
                                <td>
                                  <label class="label label-md bg-success">paid</label>
                                </td>
                                <% } %>
                                <td>
                                  <% if(!patient.account.paid){ %>
                                  <div class="input-group">
                                    <select id="modeofpayment1" name="modeofpayment" class="form-control">
                                      <option>Select</option>
                                      <option value="Cash">Cash</option>
                                      <option value="POS">POS</option>
                                      <option value="Transfer">Transfer</option>
                                      <option value="Bank Deposit">Bank Deposit</option>
                                    </select>
                                  </div>
                                  <% } %>
                                </td>
                                <td>
                                  <% if(!patient.account.paid){ %>
                                  <button value="<%= total %>" name="<%= patient._id %>" type="button"
                                    class="btn btn-success pay">
                                    Paid?
                                  </button>
                                  <% } %>
                                   <% if(patient.account.paid){ %>
                                  <a target="_blank" href="/invoice/<%= patient._id %>" class="btn btn-primary"><i
                                      class="ti-receipt"></i> Invoice
                                  </a>
                                  <% } %>
                                </td>
                              </tr>
      
                              <% } %>
                               <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>