<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Operation Notes</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="/operation-notes">Operation Notes</a>
                            </li>
                            <li class="breadcrumb-item"><a href="/add-operation-note">Add Operation Note</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Zero config.table start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Operation Notes</h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-rounded-down"></i>
                                        <i class="icofont icofont-refresh"></i>
                                        <i class="icofont icofont-close-circled"></i>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Patient</th>
                                                    <th>Surgery</th>
                                                    <th>Anaesthesia</th>
                                                    <th>Anaesthetist</th>
                                                    <th>Indication</th>
                                                    <th>Surgeon</th>
                                                    <th>Findings</th>
                                                    <th>Procedure</th>
                                                    <th>Post-Operation Order</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% theaters.forEach((theater)=>{ %>
                                                <tr style="cursor: pointer" onclick="window.location='/theater-prescription/<%= theater._id %>'">
                                                    <td></td>
                                                    <td><%= theater.patient.firstname %> <%= theater.patient.lastname %></td>
                                                    <td><%= theater.surgery %></td>
                                                    <td><%= theater.anaesthesia %></td>
                                                    <td><%= theater.anesthetist.firstname %> <%= theater.anesthetist.lastname %></td>
                                                    <td><%= theater.indications %></td>
                                                    <td><%= theater.surgeon.firstname %> <%= theater.surgeon.lastname %></td>
                                                    <td><%= theater.findings %></td>
                                                    <td><%= theater.procedure %></td>
                                                    <td><%= theater.order %></td>
                                                    <td> <a class="btn btn-inverse" href="/theater-items/<%= theater._id %>">Add Theater Items</a></td>
                                                </tr>
                                                <% })  %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footerCopy %>